.BoxTicket {
  @include container(95%);
  position: relative;
  background: #f8f8f8;
  min-height: 85px;
  border: 2px solid #f5f5f5;
  padding: 20px 10px;
  padding-left: 50px;
  margin-top: 10px;
  margin-bottom: 50px;
  -webkit-border-radius: 10px;
  -webkit-border-top-right-radius: 0;
  -moz-border-radius: 10px;
  -moz-border-radius-topright: 0;
  border-radius: 10px;
  border-top-right-radius: 0;
  @include breakpoint(mobileonly) {
    @include container(100%);
    padding: 10px;

    &:before {
      display: none;
    }
  }
  &:before {
    content: "";
    background-color: #ffffff;
    position: absolute;
    top: -3px;
    left: -2px;
    width: 40px;
    height: 120%;
    -webkit-border-top-right-radius: 50px;
    -moz-border-radius-topright: 50px;
    border-top-right-radius: 50px;
  }
  &:after {
  }
  p.status-ticket {
    font-size: 12px;
    color: #94a2b8;
    position: absolute;
    bottom: -40px;
    left: 0px;
    width: 100%;
    text-align: center;
  }
}
