.busca {
  @include span(full);
  position: relative;
  @include breakpoint(phablet) {
    clear: both;
  }
  .inputBusca {
    padding: 10px;
    overflow: hidden;
    input {
      padding: 2.5%;
      width: 100%;
      max-width: 0px;
      visibility: hidden;
      opacity: 0;
      float: left;
      line-height: 35px;
      height: 36px;
      background-color: rgba(146, 156, 160, 0);
      border: 1px solid rgba(146, 156, 160, 0.25);
      color: #6d6565;
      margin-top: 0px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      border-radius: 0px;
      transition: all 0.25s ease;
      margin-right: 5px;
      @include placeholder {
        color: #6d6565;
      }
      &:focus {
        @include placeholder {
          color: transparent;
        }
      }
      @include breakpoint(phablet) {
      }
    }
    .create_Contact {
      i {
        color: #ffffff;
      }
    }
    .botaoBusca {
      z-index: 1;
      border: 0px;
      width: 36px;
      height: 36px;
      cursor: pointer;
      position: absolute;
      right: 10px;
      top: 10px;
      padding: 6px;
      background-color: rgb(26, 90, 191);
      background-color: rgba(146, 156, 160, 0);
      -webkit-border-top-right-radius: 0px;
      -webkit-border-bottom-right-radius: 0px;
      -moz-border-radius-topright: 0px;
      -moz-border-radius-bottomright: 0px;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      border-radius: 50%;
      transition: all 0.25s ease;
      @include breakpoint(phablet) {
        padding: 2px;
        left: 10px;
        right: auto;
      }
      svg {
        path {
          fill: #6d6565;
        }
      }
    }

    input {
      max-width: none;
      visibility: visible;
      transition: all 0.25s ease;
      opacity: 1;
    }
    .botaoBusca {
      -webkit-border-top-left-radius: 0px;
      -webkit-border-bottom-left-radius: 0px;
      -moz-border-radius-topleft: 0px;
      -moz-border-radius-bottomleft: 0px;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;

      -webkit-border-top-right-radius: 0px;
      -webkit-border-bottom-right-radius: 0px;
      -moz-border-radius-topright: 0px;
      -moz-border-radius-bottomright: 0px;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      @include breakpoint(phablet) {
        right: 10px;
        left: auto;
      }
    }
  }
}
