.ClientNav {
	@include span(full);
	background-color: #ffffff;
	height: auto;
	padding-bottom: 20px;
	min-height: 100vh;
	margin-top: 57px;
	margin-left: 110px;
	@include breakpoint(phablet) {
		margin-left: 0px;
	}
	.holderPage {
		@include span(full);
		padding: 0px 2.5%;
		.navClient {
			@include span(3 of 12);
			margin-top: 20px;
			&:nth-child(4n) {
				margin-right: 0px;
			}
			@include breakpoint(tablet) {
				@include span(6 of 12);
			}
			@include breakpoint(tablet) {
				@include span(6 of 12);
				&:nth-child(2n) {
					margin-right: 0px;
				}
			}
			@include breakpoint(mobileonly) {
				@include span(full);
			}

			.ui {
				.fotoCliente {
					width: 40%;
					height: auto;
					border-radius: 50% !important;
					display: block;
					margin: auto;
					margin-top: 20px;
					margin-bottom: 20px;
				}

				.content {
					.header {
						color: #333;
					}
					nav {
						ul {
							list-style: none;
							padding-left: 0px;
							li {
								.dataEditar {
									width: 100%;
									height: 40px;
									line-height: 40px;
									color: #333;
									background-color: #f5f5f5;
									margin-bottom: 10px;
									transition: all 0.25s ease;
									padding: 0px 10px;

									position: relative;
									b {
										float: left;
									}
									span {
										float: right;
									}
									.iconEditar {
										cursor: pointer;
										float: right;
										svg {
											opacity: 0;
											transition: all 0.25s ease;
											margin-top: 10px;
											margin-left: 10px;
											path {
												fill: darken(#ccc, 10%);
											}
										}
									}
									&:hover {
										background-color: darken(#f5f5f5, 10%);
										.iconEditar {
											svg {
												opacity: 1;
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

.pageHolder {
	@include span(full);
	height: 100%;
	padding-bottom: 20px;
	margin-top: 57px;
	margin-left: 110px;
	@include breakpoint(phablet) {
		margin-left: 0px;
	}
	.headingPage {
		@include span(full);
		background-color: #ffffff;
		padding: 10px;
		h1 {
			text-align: left;
			color: #333;
			float: left;
			margin-bottom: 0px;
		}
	}
	.holderPage {
		@include span(full);
		padding: 0px 2.5%;
		.adicionar-list {
			float: right;
			margin-right: 10px;
			@include breakpoint(mobileonly) {
				float: left;
				margin-bottom: 10px;
			}
		}
		.select-all {
			float: right;

			.checkbox-bloco {
				float: left;
				position: relative;
				width: 54px;
				height: 36px;
				border: 1px solid #d0d0d0;
				-webkit-border-top-left-radius: 40px;
				-webkit-border-bottom-left-radius: 40px;
				-moz-border-radius-topleft: 40px;
				-moz-border-radius-bottomleft: 40px;
				border-top-left-radius: 40px;
				border-bottom-left-radius: 40px;
				.checkbox {
					position: absolute;
					left: 50%;
					top: 50%;
					transform: translateY(-50%) translateX(-50%);
					.hidden {
					}

					label {
					}
				}
			}
			.dropdown-all {
				width: 42px;
				height: 36px;

				float: right;
				z-index: 1;
				position: relative;
				border: 1px solid #d0d0d0;
				border-left: 0px;
				-webkit-border-top-right-radius: 40px;
				-webkit-border-bottom-right-radius: 40px;
				-moz-border-radius-topright: 40px;
				-moz-border-radius-bottomright: 40px;
				border-top-right-radius: 40px;
				border-bottom-right-radius: 40px;

				.ui.dropdown {
					width: 100%;
					height: 100%;
					i.dropdown.icon {
						margin-top: 10px;
						margin-left: 20px;
					}
					.menu {
						&.right {
							right: 0px;
							left: auto;
						}
					}
				}
			}
		}
	}
}
