.conversasBusca {
	@include span(3 of 12 inside no-gutters);
	background-color: #f8f8f8;
	height: calc(100vh - 114px);
	margin-top: 57px;
	position: relative;
	border-right: 1px solid rgba($cinzaescuro, 0.25);
	z-index: 14;
	-webkit-box-shadow: 10px 10px 20px -17px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 10px 10px 20px -17px rgba(0, 0, 0, 0.75);
	box-shadow: 10px 10px 20px -17px rgba(0, 0, 0, 0.75);

	@include breakpoint(tablet) {
		@include span(4 of 12 inside no-gutters);
	}
	@include breakpoint(phablet) {
		@include span(full);
		margin-top: 44px;
	}
	@include breakpoint(mobileonly) {
		height: calc(100vh - 45px);
	}
	.headerChat {
	}
	.Conversas {
		@include span(full);
		background-color: #f8f8f8;
		height: 100%;
		position: relative;
		box-shadow: 10px 10px 20px -17px rgba(0, 0, 0, 0.75);
	}
	.scrollbar-container {
	}
	.wrap-Conversas {
		float: left;
		width: 100%;
		.card-conversa {
			@include span(full);
			min-height: 132px;
			background-color: #ffffff;
			position: relative;
			cursor: pointer;
			border-bottom: 1px solid rgba(128, 130, 132, 0.25);
			transition: all 0.25s ease;
			&.true {
				min-height: 0px;
				max-height: 0px;
				overflow: hidden;
			}
			&.phone {
				border-bottom: 3px solid $vermelho;
			}
			.holder_card {
				position: absolute;
				width: 100%;
				height: auto;
				padding: 10px 3.5%;
				top: 50%;
				transform: translateY(-50%);
				@include breakpoint(phablet) {
					width: 95%;
				}
			}
			@include breakpoint(mobileonly) {
				padding: 10px 2.5%;
				padding-bottom: 20px;
			}
			.holder_icons {
				position: absolute;
				top: 10px;
				right: 10px;
				.icone-add {
					display: block;
				}
				.editar-card {
					color: #ffffff;
					opacity: 0;
					transition: all 0.25s ease;
				}

				.addToGroup {
					display: block;
					&.carteira_desativada {
						.archive {
						}
					}
					.users {
						color: #ffffff;
						opacity: 0;
						transition: all 0.25s ease;
						&.inWallet {
							color: #000;
						}
					}
					.archive {
						color: #ffffff;
						opacity: 0;
						transition: all 0.25s ease;
					}
				}
			}
			&.active-card {
				background-color: #478aef;

				.nome {
					color: #fff;
				}
				.holder_nome {
					.icone_origem {
						color: #fff !important;
					}
				}
				.wrap-conversa {
					.resumo-conversa {
						color: #fff;
					}
				}

				.info-conversa {
					time {
						color: #fff;
					}
				}
			}
			&:hover {
				background-color: #478aef;
				.card-conversa {
					background-color: #478aef;
				}
				.nome {
					color: #fff;
				}
				.holder_nome {
					.icone_origem {
						color: #fff !important;
					}
				}
				.wrap-conversa {
					.resumo-conversa {
						color: #fff;
					}
				}

				.info-conversa {
					time {
						color: #fff;
					}
				}
				.holder_icons {
					.editar-card {
						opacity: 1;
						z-index: 9;
						position: relative;
					}
					.addToGroup {
						.users {
							opacity: 1;
							z-index: 9;
							position: relative;
						}
						.archive {
							opacity: 1;
							z-index: 9;
							position: relative;
						}
					}
				}
				.mensagens-novas {
					top: 73px;
					right: 13px;
				}
			}

			.nome {
				float: left;
				margin-top: 0px;
				font-weight: 500;
				font-size: 14px;
				color: $preto;
				text-align: left;
				max-width: 151px;
				width: 100%;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				@include breakpoint(mobileonly) {
					font-size: 12px;
				}
				span {
					display: block;
					font-weight: lighter;
				}
			}

			.mensagens-novas {
				position: absolute;
				background: #ef4747;
				top: 10px;
				right: 13px;
				border-radius: 50%;
				width: 20px;
				height: 20px;
				line-height: 20px;
				text-align: center;
				color: #fff;
				font-size: 9px;
				z-index: 19;
				transition: all 0.3s ease;
			}

			.wrap-conversa {
				@include span(full);
				position: relative;
				margin-bottom: 10px;
				.perfil {
					float: left;
					width: 10%;
					min-height: 44.55px;
					@include breakpoint(mobileonly) {
						width: 10%;
					}
					.fotoPerfil {
						border-radius: 50%;
						width: 100%;
						height: auto;
						min-width: 30.06px;
						min-height: 30.06px;
					}
				}

				.resumo-conversa {
					width: 77%;
					text-align: left;
					padding: 0px;
					margin: 0px;
					font-size: 12px;
					position: absolute;
					right: 25px;
					top: 45%;
					transform: translateY(-50%);
					color: $preto;
					height: 32px;
					overflow: hidden;
					@include breakpoint(mobileonly) {
						left: 12%;
						right: auto;
						top: 42%;
					}
				}
			}

			.info-conversa {
				float: right;
				position: absolute;
				right: -2px;
				bottom: -20px;
				@include breakpoint(mobileonly) {
					bottom: -10px;
				}
				time {
					font-size: 12px;
					color: $preto;
				}
			}
		}
	}
}
.loading-conversa {
	position: absolute;
	top: 47%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	z-index: 3;
	.ui.segment {
		width: 100%;
		height: 100%;
		box-shadow: none;
		.ui.dimmer {
			background-color: transparent;
		}
	}
}
.loading-datatable {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	z-index: 3;
	.ui.segment {
		width: 100%;
		height: 100%;
		box-shadow: none;
		.ui.dimmer {
			background-color: transparent;
		}
	}
}
.ui.loader:after {
	border-top-color: #478aef !important;
}
.ui.inverted.loader:before {
}
.block {
	display: inline-block;
	width: 100%;
	button.block-button {
		text-align: center !important;
		margin: auto;
		display: block;
		margin-bottom: 10px;
	}
	span {
		text-align: center;
		display: block;
		color: $vermelho;
		font-size: 12px;
		margin-top: 5px;
		time {
			font-weight: bold;
		}
	}
}
.received_image {
	cursor: pointer;
	img {
		max-width: 100%;
		height: auto;

		max-height: inherit;
	}
}
.loading-message {
	position: absolute;
	top: 45px;
	right: 15px;
	z-index: 3;
	&.body {
		top: 80px;
		left: 50%;
		transform: translateX(-50%);
	}
	.ui.segment {
		width: 100%;
		height: 100%;
		box-shadow: none;
		.ui.dimmer {
			background-color: transparent;
		}
	}
}
.rce-mbox-photo--img__block {
	background-color: rgba(0, 0, 0, 0) !important;
}
