.CofigNav {
	@include span(full);
	background-color: #e2e8ea;
	height: calc(100vh - 57px);
	margin-top: 57px;
	margin-left: 110px;
	@include breakpoint(phablet) {
		margin-left: 0px;
	}
	@include breakpoint(mobileonly) {
		height: auto;
		padding-bottom: 20px;
	}
	.headingPage {
		width: 100%;
		background-color: #ffffff;
		padding: 10px;
		h1 {
			text-align: left;
			color: #333;
		}
	}

	.holderPage {
		@include span(full);
		padding: 0px 2.5%;
		.navConfig {
			@include span(3 of 12);
			margin-top: 20px;
			&.navRelationship {
				@include span(4 of 12);
				&:nth-child(3n) {
					margin-right: 0px;
				}
			}
			&.navCompanies {
				@include span(4 of 12);
				&:nth-child(3n) {
					margin-right: 0px;
				}
			}
			&:nth-child(4n) {
				margin-right: 0px;
			}
			@include breakpoint(tablet) {
				@include span(6 of 12);
			}
			@include breakpoint(tablet) {
				@include span(6 of 12);
				&:nth-child(2n) {
					margin-right: 0px;
				}
			}
			@include breakpoint(mobileonly) {
				@include span(full);
			}
			h2 {
				color: #333;
			}

			nav {
				ul {
					list-style: none;
					padding-left: 0px;
					margin: 0px;
					li {
						width: 100%;
						margin-bottom: 10px;
						a {
							button {
								@include breakpoint(phablet) {
									font-size: 11px;
								}
							}
							svg {
								path {
								}
							}
						}
					}
				}
			}
		}
	}
}
