.holder_ticket_conversation {
  .conversation_body_modal {
    position: relative;
    .corpo-chat {
      width: 100%;
      margin-top: 0px;
    }
  }
}
.corpo-chat {
  @include span(13 of 24 inside no-gutters);
  background-color: #fff;
  height: calc(100vh - 57px);
  margin-top: 57px;
  transition: all 0.25s ease;
  position: relative;
  padding-left: 15px;
  @include breakpoint(tablet) {
    @include span(8 of 12 inside no-gutters);
  }
  @include breakpoint(phablet) {
    @include span(full);
  }
  &.ativo {
    @include span(9 of 12 inside no-gutters);
    &.vazio {
      @include breakpoint(desktop) {
        @include span(9 of 12 inside no-gutters);
      }
    }
    @include breakpoint(desktop) {
      @include span(13 of 24 inside no-gutters);
    }
    @include breakpoint(tablet) {
      @include span(8 of 12 inside no-gutters);
    }
    @include breakpoint(phablet) {
      @include span(full);
    }
    @include breakpoint(mobileonly) {
      height: calc(100vh - 45px);
      margin-top: 45px;
      padding: 0px 20px;
    }
  }

  .chat {
    .scrollbar-container {
      border-right: 1px solid rgba(128, 130, 132, 0.24);
      border-bottom: 1px solid rgba(128, 130, 132, 0.24);
    }
    .data {
      span {
      }

      hr {
      }
    }
  }
  .form-holder {
    @include span(full);
    position: absolute;
    bottom: 10px;
    @include breakpoint(mobileonly) {
      position: relative;
      margin-top: 50px;
    }
    .QuickMessages {
      position: absolute;
      width: 97%;
      height: auto;
      top: -25px;
      left: 0px;
      z-index: 17;
      ul {
        float: left;
        padding-left: 1.7%;
        li {
          display: inline-block;
          margin-right: 10px;
          position: relative;
          font-size: 10px;
          background-color: #26283e;
          padding: 0px 5px;
          text-align: center;
          border-radius: 3px;
          cursor: pointer;
          overflow: hidden;
          &:nth-child(5n + 1) {
            background-color: #26283e;
          }
          &:nth-child(5n + 2) {
            background-color: #478aef;
          }
          &:nth-child(5n + 3) {
            background-color: #62b9c4;
          }
          &:nth-child(5n + 4) {
            background-color: #a8c94b;
          }

          span {
            color: #fff;
          }

          span.message_invisible {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            width: 100%;
            height: 100%;
            z-index: 1;
            left: 0px;
            top: 0px;
          }
        }
      }
    }
    .reply {
      max-width: 97%;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      padding: 5px 0px;
      padding-bottom: 0px;
      margin-top: 10px;
      border-radius: 10px;
      float: left;
      padding-bottom: 3px;
      margin: 0px;
      .checkbox-enter {
        position: absolute;
        right: 10px;
        bottom: 8px;
      }
      .box-buttons-chat {
        position: absolute;
        bottom: 8px;
        left: 10px;
      }
      .reply-icons {
        display: inline-block;
        margin-right: 15px;
        a {
          .fa {
            font-size: 22px;
            color: $cinzaescuro;
          }
        }
      }

      .formchat {
        @include span(full);
        border: 2px solid rgba(128, 130, 132, 0.25);
        padding-bottom: 30px;
        position: relative;
        textarea {
          padding: 10px;
          padding-top: 0px;
          padding-bottom: 0px;
          margin-top: 10px;
          border-radius: 10px;
          @include span(full);
          border: none;
          outline: none;
          overflow: hidden;
          background-color: #fff;
          resize: none !important;
          font-family: "Roboto", sans-serif;
          font-size: 18px;
          @include breakpoint(mobileonly) {
            font-size: 14px;
          }
        }
      }

      .media-upload {
        @include breakpoint(mobileonly) {
          display: none;
        }
        .col-sm-1 {
          a {
            .fa {
            }
          }
        }
      }
      .whatsapp-select {
        @include breakpoint(mobileonly) {
          display: none;
        }
      }
    }
  }
  .holder-empty {
    text-align: center;
    width: 100%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    @include breakpoint(tablet) {
      width: 95%;
    }
    .logo {
      max-width: 100px;
      margin: auto;
      display: block;
      img {
        width: 100%;
        height: auto;
      }
    }

    h2 {
      font-size: 24px;
      margin-bottom: 10px;
      color: #1a5abf;
      margin-top: 15px;
      margin-bottom: 20px;
    }

    p {
      color: #1a5abf;
      font-size: 14px;
    }

    hr {
      max-width: 100px;
      margin: auto;
      display: block;
      border-color: #ccc;
      margin-bottom: 10px;
    }

    .menor {
      color: #1a5abf;
      font-size: 10px;
      margin-bottom: 0;
    }
  }
}

.holder_mobile {
  @include breakpoint(phablet) {
    position: fixed;
    top: 85px;
    right: -100%;
    visibility: hidden;
    opacity: 0;
    transition: all 0.25s ease;
    &.chatmobile {
      position: fixed;
      right: -100%;
      opacity: 1;
      visibility: visible;
      z-index: 999;
      width: 100%;
      top: 0px;
      transform: translateX(0);
      transition: all 0.25s ease;
      visibility: hidden;
      opacity: 0;
      animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
      &.open_chat {
        visibility: visible;
        opacity: 1;
        transition: all 0.25s ease;
        animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
      }
    }
  }
  @include breakpoint(mobileonly) {
    top: 85px;
  }
}
