.dropdown-criar-novo {
  float: left;
  margin-top: 3px;
  .dropdownnovo {
    &.is-open {
      .Dropdown-control {
        background-color: darken(#478aef, 10%);
        &:hover {
          .Dropdown-arrow {
            border-color: transparent transparent #fff;
          }
        }
        .Dropdown-placeholder {
          color: #fff;
        }
        .Dropdown-arrow {
          border-color: transparent transparent #fff;
        }
      }
    }
    .Dropdown-control {
      background-color: transparent;
      border: 0px;
      height: 57px;
      border-radius: 0px;
      padding: 19px 12px;
      padding-right: 35px;
      &:hover {
        background-color: darken(#478aef, 10%);
        .Dropdown-placeholder {
          color: #fff;
        }
        .Dropdown-arrow {
          border-color: #ffffff transparent transparent;
        }
      }
      .Dropdown-placeholder {
        color: #1a5abf;
      }
      .Dropdown-arrow {
        top: 50%;
        transform: translateY(-50%);
        border-color: #1a5abf transparent transparent;
      }
    }
    .Dropdown-menu {
      .Dropdown-option {
        text-align: left;
      }
    }
  }
}
