.azul-escuro {
  background-color: #26283e;
}
.roxo {
  background-color: rgb(128, 83, 157);
}
.verde {
  background-color: #a8c94b;
}
.azul-claro {
  background-color: rgb(98, 185, 196);
}
.azul-padrao {
  background-color: #62b9c4;
}
body.homepage {
  header.headerChat .topo-chat {
    @include span(9 last of 12 inside no-gutters);
    position: relative;
    height: 57px;
    @include breakpoint(tablet) {
      @include span(8 last of 12 inside no-gutters);
    }
    @include breakpoint(phablet) {
      @include span(6 of 12 inside no-gutters);
    }
    @include breakpoint(phablet) {
      @include span(9 last of 12);
      position: absolute;
      top: 0px;
      right: 0px;
      height: 43px;
    }
  }
}

header.headerChat {
  @include span(full);
  height: 57px;
  position: fixed;
  top: 0px;
  right: 0px;
  background-color: #ffffff;
  padding-left: 0px;
  -webkit-box-shadow: 0px 10px 20px -17px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 20px -17px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 20px -17px rgba(0, 0, 0, 0.75);
  z-index: 40;
  border-bottom: 1px solid #cccccc;
  @include breakpoint(phablet) {
    height: 45px;
    z-index: 1000;
  }
  .topo-conversa {
    @include span(1 of 12 inside no-gutters);

    height: 57px;
    @include breakpoint(tablet) {
      @include span(4 of 12 inside no-gutters);
    }

    @include breakpoint(phablet) {
      @include span(full);
      padding: 0px 5px;
      height: 45px;
    }
  }

  .foto-perfil {
    width: auto;
    height: 30px;
    position: relative;
    float: left;
    text-decoration: none;
    color: #1a5abf;
    margin-right: 5px;
    @include breakpoint(phablet) {
      margin-right: 0px;
    }

    img {
      width: auto;
      height: 100%;
      border-radius: 50%;
      border: 1px solid #ccc;
      margin-right: 6px;
      width: 30px;
      height: 30px;
      @include breakpoint(phablet) {
        margin-right: 0px;
      }
    }
    .userFilter {
      float: right;
      margin-top: 4px;
      @include breakpoint(phablet) {
        font-size: 12px;
        display: none;
      }
    }
    button {
      position: absolute;
      background-color: transparent;
      border: 0px;
      top: 50%;
      right: -45px;
      transform: translateY(-50%);
      @include breakpoint(phablet) {
        right: -33px;
      }
      @include breakpoint(phablet) {
        right: -38px;
      }
      svg {
        path {
          fill: #62b9c4;
        }
      }
    }
  }
  h3 {
    text-align: left;
    font-size: 1.5rem;
    color: darken($cinzaescuro, 50%);
  }
  .perfil {
    float: left;
    .fotoPerfil {
    }
  }
  .botoes_topo {
    float: right;
    position: absolute;
    right: 1.5%;
    top: 50%;
    transform: translateY(-50%);
    @include breakpoint(phablet) {
      right: 2.5%;
    }
  }
  .holder-icons {
    float: left;
    @include breakpoint(phablet) {
      display: none;
    }
    button.logout {
      float: left;
      background-color: transparent;
      border: 0px;
      cursor: pointer;
      margin-top: 3px;
      svg {
        path {
          fill: #1a5abf;
        }
      }
    }
  }
  .configuracoes {
    .material-icons {
      color: #ffffff;
    }
  }
  .topo-chat {
    @include span(9 last of 12 inside no-gutters);
    width: calc(100% - 160px);
    position: relative;
    height: 57px;

    @include breakpoint(tablet) {
      @include span(8 last of 12 inside no-gutters);
    }
    @include breakpoint(phablet) {
      @include span(6 of 12 inside no-gutters);
    }
    @include breakpoint(phablet) {
      @include span(9 last of 12);
      position: absolute;
      top: 0px;
      right: 0px;
      height: 43px;
    }
    .nome-cliente {
      font-size: 24px;
      color: darken($cinzaescuro, 50%);
      float: left;
      position: absolute;
      left: 2.1%;
      top: 50%;
      transform: translateY(-50%);
    }

    .abre-info-ticket {
      background-color: transparent;
      border: 0px;
      svg {
        path {
          fill: #1a5abf;
        }
      }
    }
  }
}
a.logo-mobile {
  visibility: hidden;
  opacity: 0;
  width: 32px;
  height: auto;
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
  @include breakpoint(phablet) {
    visibility: visible;
    opacity: 1;
    z-index: 9;
  }
  @include breakpoint(mobileonly) {
    left: 15px;
    transform: initial;
  }
  img {
    width: 100%;
    height: auto;
  }
}
.openMenuFixed {
  position: absolute;
  top: 5px;
  left: 5px;
  padding: 5px;
  padding-bottom: 1px;
  background: #62b9c4;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  svg {
    width: 100%;
    path {
      fill: #ffffff;
    }
  }
  @include breakpoint(phablet) {
    visibility: visible;
    opacity: 1;
  }
  @include breakpoint(mobileonly) {
    display: none;
  }
  i {
    color: #fff;
    font-size: 20px;
    margin-right: 0px;
  }
}
.menu.transition.menu_right {
  top: 25px;
  right: -10%;
  left: auto;
  .item {
    padding: 0px !important;
    a,
    span {
      width: 100%;
      display: block;
      padding: 0.78571429rem 1.14285714rem !important;
      color: #4183c4;
      cursor: pointer;
    }
  }
  .divider {
    margin: 0px;
  }
}
.add-comment {
  cursor: pointer;
  color: #1a5abf;
  margin-left: 5px;
}
