.side-info-ticket {
  @include span(5 of 24 inside no-gutters);
  height: calc(100vh - 57px);
  position: absolute;
  right: -20.83333%;
  top: 57px;
  z-index: 30;
  transition: all 0.25s ease;
  border-left: 1px solid rgba(128, 130, 132, 0.25);
  background: #fff;
  box-shadow: -10px 10px 20px -18px rgba(0, 0, 0, 0.7);
  @include breakpoint(desktop) {
    opacity: 1;
    position: absolute;
    right: 0px;
    .openMenu {
      display: none;
    }
  }
  &:before {
    content: "";
    opacity: 0;
    width: 11px;
    height: 100%;
    position: absolute;
    left: -11px;
    top: 0px;
  }
  @include breakpoint(tablet) {
    transition: all 0.25s ease;

    background: #fff;
  }
  @include breakpoint(phablet) {
    @include span(full);
    top: 100px;
    display: none;
  }
  &.ativo {
    opacity: 1;
    position: absolute;
    right: 0px;
    .openMenu {
      .iconSeta {
        svg {
          transform: rotate(0deg);
        }
      }
    }
    @include span(5 of 24 inside no-gutters);
    @include breakpoint(tablet) {
      position: fixed;
      right: 0px;

      @include span(6 of 12 inside no-gutters);
      z-index: 5;
    }
    @include breakpoint(mobileonly) {
      @include span(full);
      top: 100px;
    }
  }
  .openMenu {
    cursor: pointer;
    font-size: 11px;
    position: absolute;
    left: -11px;
    top: 50%;
    transform: translateY(-50%);
    width: 11px;
    height: 81px;
    line-height: 81px !important;
    text-align: right;
    z-index: 3;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    -webkit-box-shadow: 1px 0px 1px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 1px 0px 1px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 1px 0px 1px 0px rgba(0, 0, 0, 0.4);
    background-color: #478aef;

    .iconSeta {
      position: absolute;
      right: -3px;
      @include breakpoint(phablet) {
        top: 50%;
        left: 50%;
        right: auto;
        transform: translateY(-50%) translateX(-50%);
        line-height: normal;
      }
      svg {
        transition: all 0.25s ease;
        transform: rotate(180deg);
        @include breakpoint(phablet) {
          transform: rotate(90deg);
          width: 3rem !important;
        }
        path {
          fill: #ffffff;
        }
      }
    }
  }
  .previous-ticket {
    @include span(full);
    padding: 30px 5%;
    padding-right: 1%;
    height: 306px;
    @include breakpoint(mobileonly) {
      height: 30%;
      padding: 10px 5%;
    }
    span {
      color: $preto;
      text-align: left;
      width: 100%;
      float: left;
      font-weight: bold;
      font-size: 18px;
      margin-bottom: 10px;
    }

    .tickets {
      p {
        color: $preto;
        text-align: left;
        width: 100%;
        float: left;
        font-weight: normal;
        font-size: 16px;
        margin-top: 5px;
        margin-bottom: 5px;
        &.closed-ticket {
          color: rgba($preto, 0.25);
          text-decoration: line-through;
          a {
            color: rgba($preto, 0.25);
            cursor: pointer;
          }
        }
        a {
          color: $azul;
          margin-right: 5px;
          text-decoration: none;
          cursor: pointer;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
