.info-cliente {
  @include span(full);
  padding: 30px 10px;
  border-bottom: 1px solid rgba($cinzaescuro, 0.25);
  height: auto;
  text-align: center;
  @include breakpoint(mobileonly) {
    padding: 10px 0px;
    height: 30%;
  }
  img {
    max-width: 20%;
    width: 100px;
    height: auto;
    border-radius: 50%;
  }

  h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: $preto;
  }

  p {
    margin-top: 0px;
    color: $preto;
  }
  .links-empresa {
    text-align: center;
    .tele {
      margin-right: 10px;
      position: relative;
      &:before {
        content: "Telefone Copiado";
        opacity: 0;
        visibility: hidden;
        text-align: center;
        background-color: green;
        color: #ffffff;
        border-radius: 3px;
        position: absolute;
        top: 100%;
        transition: all 0.25s ease;
        display: block;
        white-space: nowrap;
        left: 50%;
        transform: translateX(-50%);
        padding: 3px;
        font-size: 11px;
      }
      &.copySuccess {
        &:before {
          content: "Telefone Copiado";
          opacity: 1;
          visibility: visible;
          top: -20px;
        }
      }
      svg {
        path {
        }
      }
    }

    a,
    span {
      background-color: $cinzaescuro;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      padding: 5px;

      display: inline-block;
      svg {
        width: 100% !important;
        path {
          fill: #ffffff;
        }
      }
    }
  }
}
