.infos-personalizados {
  @include span(full);
  padding: 30px 5%;

  border-bottom: 1px solid rgba($cinzaescuro, 0.25);
  height: 40%;
  @include breakpoint(mobileonly) {
    height: 30%;
    padding: 10px 5%;
  }
  span {
    color: $preto;
    text-align: left;
    width: 97%;
    float: left;
    font-weight: bold;
    font-size: 18px;
    button {
      background-color: transparent;
      border: 0px;
      text-align: right;
      float: right;
      padding: 0px;
      svg {
        path {
          fill: rgba($preto, 0.5);
        }
      }
    }
  }

  .infos-editar {
    @include span(full);
    margin-top: 10px;
    span {
      font-weight: normal;
      font-size: 14px;
      color: rgba($preto, 0.5);

      .iconEditar {
        float: right;
        cursor: pointer;
        svg {
          path {
            fill: rgba($preto, 0.5);
          }
        }
      }
      input {
        color: $preto;
        font-size: 14px;
        background-color: transparent;
        width: 90%;
        border: 1px solid rgba($preto, 0.25);
        padding: 4px 5px;
        margin-bottom: 7px;
      }
      &.editar {
        button {
          display: none;
          svg {
            path {
              fill: rgba($preto, 0);
            }
          }
        }
      }
      button {
        svg {
          path {
            fill: rgba($preto, 0.25);
          }
        }
      }
    }
  }
}
