.login {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  background-color: #95bbdf;
  height: 100vh;
  &.register {
    height: auto;
    min-height: 100vh;

    .box_login {
      max-width: 600px;
      position: relative;
      transform: initial;
      top: auto;
      left: auto;
      margin: 30px auto;
      .divisor-register {
        border-top: 1px solid rgba(34, 36, 38, 0.25);
        max-width: 75%;
        margin: auto;
        margin-top: 30px;
      }
      h2 {
        text-align: center;
      }
    }
    .box_forgot {
      top: 45%;
      left: 50%;
      position: absolute;
      transform: translate(-50%, -50%);
      h4 {
        text-align: center;
        display: block;
        margin-bottom: 20px;
      }
    }
  }
}
/* line 1258, ../sass/style.scss */
.login .box_login {
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
/* line 12, ../../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/susy-2.2.14/sass/susy/output/support/_clearfix.scss */
.login .box_login:after {
  content: " ";
  display: block;
  clear: both;
}
@media (max-width: 768px) {
  /* line 1258, ../sass/style.scss */
  .login .box_login {
    width: 80%;
    top: 18%;
    transform: translateY(0) translateX(-50%);
    padding: 10px;
  }
}
/* line 1274, ../sass/style.scss */
.login .box_login a.logo {
  width: 100%;
  max-width: 191px;
  margin: auto;
  display: block;
  margin-bottom: 21px;
  margin-top: 15px;
}
/* line 1281, ../sass/style.scss */
.login .box_login a.logo img {
  width: 100%;
  height: auto;
}
/* line 1290, ../sass/style.scss */
.login .box_login .form_login form label {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;
  margin-bottom: 10px;
}
/* line 1300, ../sass/style.scss */
.login .box_login .form_login form label .icon-append {
  color: rgba(128, 130, 132, 0.5);
  display: -ms-flexbox;
  display: flex;
  margin-right: -1px;
  width: 30px;
}
/* line 1306, ../sass/style.scss */
.login .box_login .form_login form label .icon-append:before {
  margin: auto;
}
/* line 1311, ../sass/style.scss */
.login .box_login .form_login form label input {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 1%;
  margin-bottom: 0px;
  border: 0px;
  background-color: #dde3ec;
  height: 43px;
  color: #8290a3;
  border: 1px solid #dde3ec;
  padding-left: 5px;
  line-height: 43px;
  border-radius: 3px;
}
@media (max-width: 768px) {
  /* line 1311, ../sass/style.scss */
  .login .box_login .form_login form label input {
    height: 35px;
  }
}
/* line 10, ../sass/style.scss */
.login .box_login .form_login form label input::-webkit-input-placeholder {
  color: #8290a3;
}
/* line 11, ../sass/style.scss */
.login .box_login .form_login form label input:-moz-placeholder {
  color: #8290a3;
}
/* line 12, ../sass/style.scss */
.login .box_login .form_login form label input::-moz-placeholder {
  color: #8290a3;
}
/* line 13, ../sass/style.scss */
.login .box_login .form_login form label input:-ms-input-placeholder {
  color: #8290a3;
}
/* line 1345, ../sass/style.scss */
.login .box_login .form_login form .password .icon-append {
  font-size: 20px;
}
/* line 1354, ../sass/style.scss */
.login .box_login .form_login form .checkbox {
  font-size: 14px;
  color: #8290a3;
  line-height: 20px;
  margin-bottom: 5px;
}
/* line 1359, ../sass/style.scss */
.login .box_login .form_login form .checkbox input {
  height: 20px;
  width: 20px;
  flex: none;
  margin: 0px 4px;
}
/* line 1373, ../sass/style.scss */
.login .box_login .form_login form .note {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  margin-top: 15px;
}
/* line 1377, ../sass/style.scss */
.login .box_login .form_login form .note a {
  color: #afb3b9;
  font-size: 14px;
}
/* line 1383, ../sass/style.scss */
.login .box_login .form_login form .entrar {
  width: 100px;
  height: 40px;
  border-radius: 3px;
  line-height: 40px;
  background-color: #088bee;
  border: 0px;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  float: right;
  text-align: center;
  text-decoration: none;
}
@media (max-width: 768px) {
  /* line 1383, ../sass/style.scss */
  .login .box_login .form_login form .entrar {
    height: 30px;
    font-size: 13px;
    line-height: 30px;
    width: 80px;
  }
}
