.mensagem {
  width: calc(100% - 40px);
  float: left;
  position: relative;
  margin: 10px 20px;
  &.mensagem-enviada {
    @include breakpoint(mobileonly) {
      margin-right: 0px;
      float: right;
    }
    .corpo-mensagem {
      background-color: #e8f3fd;
      position: relative;
      padding-right: 30px;
      margin-right: 25px;
      &:before {
        content: "";
        background-color: #ffffff;
        position: absolute;
        top: 0px;
        right: -2px;
        width: 20px;
        height: 100%;
        -webkit-border-top-left-radius: 50px;
        -moz-border-radius-topleft: 50px;
        border-top-left-radius: 50px;
      }

      .status {
        position: absolute;
        bottom: 2px;
        right: 20px;
        i {
          float: right;
          margin-top: 1px;
        }
        .double_check {
          position: relative;
        }
        i.status_cinza {
          color: rgba(0, 0, 0, 0.41);
          &.direita {
            position: absolute;
            left: 7px;
            bottom: 3px;
          }
          &.azul {
            color: #1a5abf;
          }
          .seta {
            text-shadow: -0.25px -0.25px 0 #fff, 0.25px -0.25px 0 #fff,
              -0.25px 0.25px 0 #fff, 0.25px 0.25px 0 #fff;
            font-size: 0.75em;
            bottom: -1px;
            right: -1px;
            color: rgba(0, 0, 0, 0.74);
          }
        }
      }
    }
    .foto-perfil {
      float: right;
      clear: none;
      margin-left: 30px;
      position: absolute;
      right: 3px;
      top: 6px;
      z-index: 3;
    }
    p {
    }
    .imagem-galeria {
      @include span(4 of 12);
      &:nth-child(3n) {
        margin-right: 0px;
      }
      img {
        width: 100%;
        height: auto;
      }
    }
    p.nome {
      float: right;
      clear: both;
      font-weight: bold;
      font-size: 10px;
      width: 100%;
      margin: 0px;
      margin-bottom: 3px;
      text-align: right;
      color: #1a5abf;
      &.data {
        width: auto;
        clear: none;
        margin-right: 4px;
      }
      time {
        font-weight: normal;
      }
    }
  }
  &.mensagem-recebida {
    @include breakpoint(mobileonly) {
      margin-left: 0px;
    }
    .corpo-mensagem {
      background-color: #f0f2f5;
      float: left;
      position: relative;
      padding-left: 30px;
      margin-left: 25px;
      &:before {
        content: "";
        background-color: #ffffff;
        position: absolute;
        top: 0px;
        left: -2px;
        width: 20px;
        height: 100%;
        -webkit-border-top-right-radius: 50px;
        -moz-border-radius-topright: 50px;
        border-top-right-radius: 50px;
      }
      p {
        color: #75787f;
        word-break: break-all;
      }
    }
    .foto-perfil {
      float: right;
      clear: none;
      position: absolute;
      left: 7px;
      top: 6px;
      z-index: 3;
    }
    .status {
      position: absolute;
      bottom: 2px;
      right: 10px;
      i {
        float: right;
        margin-top: 4px;
      }
      .double_check {
        position: relative;
      }
      i.status_cinza {
        color: rgba(0, 0, 0, 0.41);
        &.direita {
          position: absolute;
          left: 7px;
          bottom: 3px;
        }
        &.azul {
          color: #1a5abf;
        }
        .seta {
          text-shadow: -0.25px -0.25px 0 #fff, 0.25px -0.25px 0 #fff,
            -0.25px 0.25px 0 #fff, 0.25px 0.25px 0 #fff;
          font-size: 0.75em;
          bottom: -1px;
          right: -1px;
          color: rgba(0, 0, 0, 0.74);
        }
      }
    }
    p.nome {
      float: left;
      color: #617683;
      clear: both;
      font-weight: bold;
      font-size: 10px;
      width: 100%;
      margin: 0px;
      margin-bottom: 3px;
      text-align: left;
      &.data {
        width: auto;
        clear: none;
        margin-left: 0px;
      }
    }
  }
  .corpo-mensagem {
    border-radius: 5px;
    float: right;
    max-width: 60%;
    padding: 10px;
    min-width: 100px;
    padding-bottom: 15px;
    .video_message {
      max-width: 100%;
      &.audio_message {
        height: 30px !important;
        padding-right: 30px;
      }
    }
    @include breakpoint(mobileonly) {
      max-width: 100%;
    }
    p {
      text-align: left;
      color: #617683;
      font-size: 14px;
      margin-top: 0px;
      margin-bottom: 5px;
      word-break: break-word;
      @include breakpoint(mobileonly) {
        font-size: 12px;
      }
    }
    .galeria {
      overflow: hidden;
      .imagem-galeria {
        @include span(4 of 12);
        &:nth-child(3n) {
          margin-right: 0px;
        }
        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
  p.nome {
    color: #617683;
  }
  .foto-perfil {
    width: 30px;
    height: 30px;
    float: left;
    clear: both;
    margin-right: 7px;

    img {
      width: 100%;
      height: auto;
      border-radius: 50%;
    }
  }

  time {
  }
  p.nome {
    margin-top: 6px;
    float: right;
    clear: both;
    font-weight: bold;
    font-size: 10px;
    color: #617683;
    @include breakpoint(mobileonly) {
      font-size: 12px !important;
    }
    time {
      font-weight: normal;
    }
  }
}
.rce-mbox-right-notch {
  display: none;
}
.rce-mbox.rce-mbox-right {
  border-radius: 5px;
}
