.ovhy {
  .MenuOffside {
    left: -110px;
    position: absolute;
    .openMenu {
      visibility: visible;
      .right {
        visibility: visible;
      }
      .left {
        visibility: hidden;
      }
    } //openMenu
    &.off-side {
      .right {
        visibility: hidden;
        display: none;
      }
      .left {
        visibility: visible;
      }
    }
  } //menuOffside
}
.MenuOffside {
  width: 110px;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #ffffff;

  float: left;
  z-index: 4;
  transition: all 0.25s ease;
  z-index: 52;
  .open-hover-menu {
    position: absolute;
    right: -4px;
    top: 0px;
    background-color: transparent;
    width: 105%;
    height: 100vh;
    z-index: 4;
    cursor: pointer;
    @include breakpoint(phablet) {
      display: none;
    }
  }
  @include breakpoint(phablet) {
    left: -110px;
    width: 100px;
    top: 84px;
    position: absolute;
  }
  &:before {
    content: "";
    position: absolute;
    right: -4px;
    top: 0px;
    background-color: transparent;
    width: 4px;
    height: 100vh;
    z-index: 4;
    cursor: pointer;
    @include breakpoint(phablet) {
      display: none;
    }
  }

  .openMenu {
    cursor: pointer;
    font-size: 11px;
    position: absolute;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
    width: 11px;
    height: 81px;
    line-height: 81px !important;
    text-align: right;
    z-index: 3;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomright: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    -webkit-box-shadow: 1px 0px 1px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 1px 0px 1px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 1px 0px 1px 0px rgba(0, 0, 0, 0.4);
    background-color: #ffffff;
    visibility: hidden;
    @include breakpoint(phablet) {
      width: 100px;
      height: 40px;
      left: 0%;
      bottom: 0px;
      right: auto;

      position: absolute;
      transform: translateX(-50%);
      -webkit-border-top-right-radius: 0px;
      -webkit-border-bottom-right-radius: 0px;
      -moz-border-radius-topright: 0px;
      -moz-border-radius-bottomright: 0px;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
      -webkit-border-bottom-right-radius: 5px;
      -webkit-border-bottom-left-radius: 5px;
      -moz-border-radius-bottomright: 5px;
      -moz-border-radius-bottomleft: 5px;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
      box-shadow: none;
      border: 1px solid darken(#ffffff, 10%);
      border-top: 0px;
    }
    @include breakpoint(mobileonly) {
      width: 80px;
    }
    .iconSeta {
      position: absolute;
      right: -5px;

      @include breakpoint(phablet) {
        top: 50%;
        left: 50%;
        right: auto;
        transform: translateY(-50%) translateX(-50%);
        line-height: normal;
      }
      i {
        &:before {
          transition: all 0.25s ease;
          transform: rotate(0deg);
          @include breakpoint(phablet) {
            transform: rotate(90deg);
            width: 3rem !important;
          }
          path {
            fill: #333;
          }
        }
      }
    }
  }
  &:before {
  }
  &.off-side {
    left: 0px;
    @include breakpoint(phablet) {
      left: -110px;
    }
    .openMenu {
      .iconSeta {
        i {
          &:before {
            transform: rotate(180deg);
            @include breakpoint(phablet) {
              transform: rotate(90deg);
            }
          }
        }
      }
    }
  }
  &.off-side-mobile {
    left: 0px;
    top: 44px;
    border-right: 1px solid #cccccc;
    height: calc(100vh - 44px);
    .openMenu {
      display: none;
      .iconSeta {
        svg {
          transform: rotate(180deg);
          @include breakpoint(phablet) {
            transform: rotate(270deg);
          }
        }
      }
    }
  }
  nav {
    ul {
      padding-left: 30px;
      li {
        list-style: none;
        text-align: left;
        padding: 10px 0px;
        a {
          color: #333;
        }
        ul {
          li {
            padding: 5px 0px;
            a {
            }
            ul {
              li {
                padding-top: 5px;
                padding: 0px;
                a {
                }
              }
            }
          }
        }
      }
    }
  }
}

.menu-holder {
  height: 80vh;
  @include breakpoint(phablet) {
    height: 250px;
  }
  .scrollbar-container {
    background-color: transparent;
    .ps__thumb-y {
      background-color: #333;
    }
  }
}
.MenuOffside {
  a.logo {
    float: left;
    position: fixed;
    top: 5px;
    left: 10px;
    height: 45px;
    .beta {
      position: absolute;
      bottom: 3px;
      right: -51px;
      width: 47px;
      height: auto;
    }
    @include breakpoint(phablet) {
      display: none;
      height: 35px;
      left: 50%;
      transform: translateX(-50%);
    }
    img {
      width: auto;
      height: 100%;
    }
  }
  .holderNav {
    border-right: 1px solid #cccccc;
    height: calc(100vh - 57px);
    .navConfig {
      nav {
        ul {
          padding-left: 0px;
          border-top: 1px solid #cccccc;

          margin-top: 56px;
          @include breakpoint(phablet) {
            margin-top: 0px;
            border-right: 0px;
          }
          li {
            display: block;
            position: relative;
            background-color: #fff;
            transition: all 0.25s ease;
            cursor: pointer;
            padding: 0px;
            &:hover {
              background-color: darken(#ffffff, 10%);
            }
            a {
              width: 100%;
              text-align: center;
              height: 9vh;
              display: block;
              @include breakpoint(phablet) {
                height: 9vh;
              }
              &.center-translate {
                width: 100%;
              }
              i {
                display: block;
                margin: auto;
                font-size: 24px;
                color: #478aef;
                float: none;

                @include breakpoint(phablet) {
                  font-size: 18px;
                }
              }

              span {
                text-align: center;
                width: 100%;
                display: block;
                margin-top: -3px;
                font-size: 13px;
                @include breakpoint(phablet) {
                  font-size: 11px;
                }
              }
              span.conversasAbertas {
                width: 17px;
                height: 17px;
                position: absolute;
                display: block;
                right: 6px;
                top: 12px;
                background-color: #f90b0b;
                color: #fff;
                border-radius: 50%;
                line-height: 17px;
                text-align: center;
                font-size: 9px;
              }
            }
          }
        }
      }
    }
  }
}
.center-translate {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 100%;
}
