.origens {
  position: absolute;
  left: -7px;
  top: 13px;
  @include breakpoint(mobileonly) {
    display: none;
  }
  span.origem {
    background-color: #fff;
    display: block;
    padding: 4px 6px 4px 6px;
    z-index: 2;
    border-radius: 50%;
    border: 1px solid rgba(128, 130, 132, 0.25);
    position: relative;
    margin-bottom: 3px;
    &:nth-child(1) {
      &:before {
        content: "";
        width: 150px;
        height: 1px;
        position: absolute;
        z-index: 1;
        left: -150px;
        top: 15px;
        background-color: rgba(128, 130, 132, 0.25);
      }
    }

    &:after {
      content: "";
      width: 100%;
      height: 100%;
      left: 0px;
      top: 0px;
      background-color: #fff;
      position: absolute;
      z-index: 2;
      border-radius: 50%;
    }
    svg {
      z-index: 3;
      position: relative;
      path {
        fill: rgba(128, 130, 132, 0.25);
      }
    }
  }
}
