.profile {
	.headingPage {
		border-bottom: 1px solid #ccc;
		h2 {
			.user {
			}
		}
	}

	.holderPage {
		padding: 0px;
		.wrap_atividades {
			@include span(7 of no-gutters 12);
			width: 75%;
			.holder_atividades {
				@include span(full);
				margin-top: 0px;
				.header_atividades {
					background-color: #ffffff;
					padding-left: 10px;
					h4 {
					}

					.divider {
						margin: 0px;
						display: none;
					}
				}

				.atividades_bloco {
					padding-right: 15px;
					height: calc(100vh - 177px);
					.scrollbar-container {
						.atividade {
							.icone_atividade {
								.green {
								}
							}

							.card_atividade {
								.foto_pessoa {
									img {
									}
								}

								.pessoa {
								}

								.ui {
									.clock {
									}
								}

								span {
								}

								.visualizar {
								}
							}
						}

						.ps__rail-x {
							.ps__thumb-x {
							}
						}

						.ps__rail-y {
							.ps__thumb-y {
							}
						}
					}
				}
			}
		}

		.holder_profile {
			@include span(5 last of no-gutters 12);
			width: 25%;
			height: calc(100vh - 115px);
			background-color: #fff;
			border-left: 1px solid #ccc;
			padding: 0px 25px;
			.image_profile {
				position: relative;
				@include span(full);
				margin: 10px 0px 20px 0px;

				img {
					border-radius: 50%;
					margin: auto;
					display: block;
					width: 100%;
					max-width: 60%;
					min-width: 137px;
					min-height: 137px;
				}

				.ui {
					position: absolute;
					bottom: -5px;
					left: 50%;
					transform: translateX(-50%);
					.file {
					}
				}
			}

			.dados_basicos {
				@include span(full);
				margin-bottom: 15px;
				overflow-x: auto;
				overflow-y: hidden;
				.dados {
					font-size: 15px;
					border-bottom: 1px solid #ccc;
					padding-bottom: 10px;
				}

				table {
					@include span(full);
					tbody {
						tr {
							margin-bottom: 10px;
							th {
							}
							td {
								span {
									display: block;
									position: relative;
									padding-right: 20px;
									.iconEditar {
										position: absolute;
										right: 0px;
										top: 0px;
										cursor: pointer;
										svg {
											position: relative;
											left: -9px;
											path {
												fill: rgb(33, 186, 69);
											}
										}
									}
								}
							}
						}
					}
				}
			}

			.ui {
			}
		}
	}
}
