.ServiceStatus {
  position: absolute;
  background-color: #478aef;
  width: auto;
  width: fit-content;
  min-width: 200px;
  height: auto;
  top: 0%;
  left: 50%;
  transform: translateX(-50%) translateY(-100%);
  transition: all 0.25s ease;
  z-index: 13;
  padding: 0px 10px;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  @include breakpoint(phablet) {
    display: none;
  }
  .ticket-ativo {
    top: -100px;
    width: 100%;
    transition: all 0.25s ease;
    &:before {
      content: "";
      position: absolute;
      width: 100%;
      top: -26px;
      left: 0px;
      height: 49%;
    }
  }
  &.open {
    top: 0px;
    transform: translateX(-50%);
    .openStatus {
      .iconSeta {
        svg {
          transform: rotate(270deg) translateX(-50%);
          bottom: 25px;
        }
      }
    }
    .ticket-ativo {
      top: 70px;
    }
  }
  .openStatus {
    cursor: pointer;
    font-size: 11px;
    position: absolute;
    left: 50%;
    bottom: -11px;
    transform: translateX(-50%);
    width: 81px;
    height: 11px;
    line-height: 81px !important;
    text-align: right;
    z-index: 3;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #478aef;
    .iconSeta {
      position: absolute;
      bottom: -3px;
      width: 100%;
      height: 100%;

      svg {
        transition: all 0.25s ease;
        transform: rotate(90deg) translateX(-50%);
        position: absolute;
        left: 0px;
        right: 0px;
        top: 3px;
        margin: auto;
        display: block;
        @include breakpoint(phablet) {
          transform: rotate(90deg) translateX(-50%);
          width: 3rem !important;
        }
        path {
          fill: #ffffff;
        }
      }
    }
  }

  .status {
    float: left;
    width: 100%;
    nav {
      text-align: center;
      margin: auto;
      display: block;
      margin-bottom: 5px;
      ul {
        list-style: none;
        padding-left: 0px;
        margin-top: 7px;
        margin-bottom: 0px;
        li {
          margin: 0px 2.5px;
          display: inline-block;
          button {
            background-color: transparent;
            border: 0px;
            background-color: #cacbcd;
            border-radius: 35px;
            width: 35px;
            height: 35px;
            cursor: pointer;
            position: relative;
            padding: 0px;
            transition: all 0.25s ease;
            &.hidden {
              display: none;
            }
            &:hover {
              background-color: #99ca3c;
            }
            i {
              position: absolute;
              top: 48%;
              left: 50%;
              transform: translateY(-50%) translateX(-50%);
              color: #ffffff;
            }
            span {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translateX(-50%) translateY(-50%);
            }
            svg {
              width: 100% !important;
              path {
                fill: #ffffff;
              }
            }
          }
        }
      }
    }
  }
}
