.sticky-topo {
  position: relative;
  top: 10px;
  background-color: rgba(225, 245, 254, 1);
  color: rgba(69, 90, 100, 0.95) !important;
  padding: 9px 150px 9px 150px !important;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4) !important;
  margin-bottom: 20px !important;
  margin-top: 20px !important;
  margin-right: auto !important;
  margin-left: auto !important;
  width: 100%;
  max-width: 95%;
  opacity: 1;
  z-index: 2;
  -webkit-border-top-left-radius: 50px;
  -moz-border-radius-topleft: 50px;
  border-top-left-radius: 50px;
  text-align: center;

  float: right;
  margin-right: 34px !important;
  &:before {
    content: "";
    background-color: #ffffff;
    position: absolute;
    top: -3px;
    left: -2px;
    width: 40px;
    height: 120%;
    border-bottom-right-radius: 50px;
    @include breakpoint(mobileonly) {
      display: none;
    }
  }
  span {
    margin-right: 15px;
  }
  // &:before{
  //   content: '';
  //   background-color: #f8f8f8;
  //   position: absolute;
  //   top: 0px;
  //   left: -2px;
  //   width: 40px;
  //   height: 100%;P
  // }
  .origem_ticket {
    position: absolute;
    left: 0px;
    bottom: 5px;
    z-index: 7;
    @include breakpoint(mobileonly) {
      display: none;
    }
    &:nth-child(1) {
      &:before {
        content: "";
        width: 150px;
        height: 1px;
        position: absolute;
        z-index: 1;
        left: -150px;
        top: 15px;
        background-color: rgba(128, 130, 132, 0.5);
      }
    }
    .origem {
      img {
        width: 31px;
        height: 31px;
        border-radius: 30px;
      }
      i {
        font-size: 16px;
      }
    } //origem
  }
  @include breakpoint(mobileonly) {
    webkit-border-top-left-radius: 0px;
    -moz-border-radius-topleft: 0px;
    border-top-left-radius: 0px;
    max-width: 100%;
  }
  time {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    text-align: center;
  }
  .atendimento {
    display: inline-block;
    height: 25px;
    margin-left: 15px;
    transform: translateY(-50%);
    position: absolute;
    top: 35%;
    right: 10px;
    img {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      display: block;
      float: right;
      &.ativo {
        box-shadow: 0 0 0pt 1pt $vermelho;
      }
    }
  }
}
