$color: #4898ae;
.page_stats {
	height: calc(100vh - 57px);
	@include breakpoint(phablet) {
		height: auto;
		padding-bottom: 20px;
		margin-top: 45px;
	}
	.headingPage {
		@include span(full);
		position: relative;
		@include breakpoint(mobileonly) {
			padding-bottom: 20px;
		}
		h1 {
			margin-bottom: 0px;
			width: 100%;
		}
		.box_report {
			width: 500px;
		}
		.fields{
			display: grid;
			grid-template-columns: 1fr repeat(3, auto);
			margin-right: 2%;
		}
		.fields .field {
			margin-left: 15px;
			justify-items: initial;
		}

		.last_login {
			font-weight: 300;
			color: #979797;
			font-size: 13px;
			position: absolute;
			right: 10px;
			top: 50%;
			transform: translateY(-50%);
			@include breakpoint(mobileonly) {
				top: auto;
				bottom: 0px;
				transform: initial;
				font-size: 11px;
				right: auto;
				left: 10px;
			}
		}

		.subHeadingPage {
			position: relative;
			@include span(full);
			h2 {
				font-size: 20px;
				font-weight: 300;
			}
			.extrair_pdf {
				position: absolute;
				right: 2.5%;
				top: 0px;
			}
		}
	}

	.holderPageReport {
		.report_card {
			display: grid;
			justify-items: stretch;
			justify-content: center;
			@include span(full);
			height: calc(100vh - 189px);
			margin-top: 20px;

		.scrollbar-container {
			background: transparent;
			display: grid;
			justify-items: stretch;
		}
		.segment {
			background-color: #e2e8ea;
		}
		.tabular {
			display: grid;
			grid-template-columns: repeat(7, 200px);
			justify-items: center;
			margin-bottom: 20px;
		}
		.cards {
			background-color: #e2e8ea;
			display: grid;
			justify-content: stretch;
		}
		.wrap_cards{
			display: grid;
			grid-template-columns: auto;
			justify-content: stretch;
			justify-self: center;
		}
		.cards_five {
			display: grid;
			text-align: center;
			grid-template-columns: repeat(5, 195px);
			gap: 10px;
			justify-self: center;
			align-self: center;
		}
		.cards_four{
			display: grid;
			text-align: center;
			grid-template-columns: repeat(4, 195px);
			gap: 10px;
			justify-self: center;
			align-self: center;
		}
		.card_graphic{
			display: grid;
			grid-template-columns: auto;
			width: auto;
			height: 300px;
		}
		.card_graphic .header{
			display: grid;
			grid-template-columns: 1fr auto;
			align-self: center;
			margin-right: 30px;
			margin-left: 30px;
		}
		.card_graphic .header h3 {
			margin: 0;
			align-self: center;
		}
		@include breakpoint(laptop) {
			@include span(full);
			.wrap_cards{
				display: grid;
				grid-template-columns: 900px;
				justify-self: center;
			}
			.tabular {
				display: grid;
				grid-template-columns: repeat(7, 129px);
				justify-items: center;
				margin-bottom: 20px;
			}
			.cards_five {
				display: grid;
				text-align: center;
				grid-template-columns: repeat(5, 175px);
				gap: 10px;
				justify-self: left;
				align-self: center;
			}
			.cards_four{
				display: grid;
				text-align: center;
				grid-template-columns: repeat(4, 200px);
				gap: 10px;
				justify-self: center;
				align-self: center;
			}
			.card_graphic{
				display: grid;
				grid-template-columns: 900px;
				width: auto;
			}
			
			.card_graphic .header{
				display: grid;
				grid-template-columns: 1fr auto;
				align-self: center;
				margin-right: 30px;
				margin-left: 30px;
			}
			.card_graphic .header h3 {
				margin: 0;
				align-self: center;
			}
			

		}
		@include breakpoint(tablet) {
			@include span(6 of 12);
			.tabular {
				display: grid;
				grid-template-columns: repeat(7, 150px);
				justify-items: center;
				margin-bottom: 20px;
			}
		}
		@include breakpoint(phablet) {
			@include span(full);
			height: auto;
		}
		// .cards > .card {
		// 	text-align: center;
		// 	margin: 0px 10px 15px;
		// 	width: 200px;
		// }
		// .wrap_cards {
		// 	@include span(full);
		// 	padding-right: 10px;
		// 	@include breakpoint(phablet) {
		// 		padding-right: 0px;
		// 	}
			// .tabela-padrao {
			// 	margin-top: 0px;
			// 	.DataTableActions {
			// 		.actions {
			// 			display: none;
			// 			.options-list {
			// 				.ui {
			// 					.backward {
			// 					}
			// 				}
			// 			}

			// 			.ui {
			// 				.text {
			// 				}

			// 				.dropdown {
			// 				}

			// 				.menu {
			// 					.item {
			// 						.text {
			// 						}
			// 					}

			// 					.active {
			// 						.text {
			// 						}
			// 					}
			// 				}
			// 			}

			// 			.busca-list {
			// 				.close {
			// 				}

			// 				.search {
			// 				}

			// 				.ui {
			// 					input {
			// 					}
			// 				}
			// 			}

			// 			.select-all {
			// 				.checkbox-bloco {
			// 					.ui {
			// 						.hidden {
			// 						}

			// 						label {
			// 						}
			// 					}
			// 				}

			// 				.dropdown-all {
			// 					.ui {
			// 						.text {
			// 						}

			// 						.dropdown {
			// 						}

			// 						.menu {
			// 							.item {
			// 								.trash {
			// 								}

			// 								.text {
			// 								}
			// 							}
			// 						}
			// 					}
			// 				}
			// 			}

			// 			.adicionar-list {
			// 				.ui {
			// 					.add {
			// 					}
			// 				}
			// 			}
			// 		}

			// 		.ui {
			// 			thead {
			// 				tr {
			// 					.ascended {
			// 						span {
			// 						}
			// 					}

			// 					th {
			// 						span {
			// 						}
			// 					}

			// 					.actions_header {
			// 					}
			// 				}
			// 			}

			// 			tbody {
			// 			}

			// 			tfoot {
			// 				tr {
			// 					th {
			// 						.ui {
			// 							.ui {
			// 								.item {
			// 								}

			// 								.active {
			// 								}
			// 							}
			// 						}
			// 					}
			// 				}
			// 			}
			// 		}
			// 	}
			// }
			// .card_meio {
			// 	@include span(6 of 12);
			// 	margin-bottom: 15px;
			// 	@include breakpoint(laptop) {
			// 		@include span(full);
			// 	}
			// 	&.card_full {
			// 		@include span(full);
			// 	}
			// 	&.mb0 {
			// 		margin-bottom: 0px;
			// 		@include breakpoint(laptop) {
			// 			margin-bottom: 15px;
			// 		}
			// 	}
			// 	&.chart_tickets {
			// 		.ui {
			// 			.header {
			// 				h3 {
			// 					float: left;
			// 					margin-bottom: 0;
			// 					margin-top: 4px;
			// 				}
			// 				.dateFilter {
			// 					float: right;
			// 				}
			// 			}
			// 		}
			// 	}

			// 	&:nth-child(2n) {
			// 		margin-right: 0px;
			// 	}
			// 	.ui {
			// 		.header {
			// 			padding: 5px;
			// 			h3 {
			// 				color: #333;
			// 				font-size: 20px;
			// 				font-weight: 300;
			// 			}
			// 			.userFilter {
			// 				margin-right: 5px;
			// 				@include span(5 of 12);
			// 				min-width: 0px;
			// 			}
			// 			.dateFilter {
			// 				@include span(5 of 12);
			// 				min-width: 0px;
			// 			}
			// 			.ui {
			// 				.default {
			// 				}

			// 				.dropdown {
			// 				}

			// 				.menu {
			// 					.header {
			// 					}

			// 					.selected {
			// 						.user {
			// 						}

			// 						.text {
			// 						}
			// 					}

			// 					.item {
			// 						.globe {
			// 						}

			// 						.text {
			// 						}
			// 					}
			// 				}
			// 			}
			// 		}
			// 		.barras {
			// 			.scrollbar-container {
			// 				@include breakpoint(mobileonly) {
			// 					height: auto;
			// 				}
			// 			}
			// 		}
			// 		.content {
			// 			padding: 5px;
			// 			.info {
			// 				display: block;
			// 				color: #92aab0;
			// 				font-size: 13px;
			// 				margin-bottom: 5px;
			// 			}

			// 			.numero {
			// 				color: #23b7e5;
			// 				font-weight: 300;
			// 				font-size: 23px;
			// 				position: relative;
			// 				@include breakpoint(laptop) {
			// 					font-size: 21px;
			// 				}
			// 				span {
			// 					min-width: 14px;
			// 					display: inline-block;
			// 					height: 31px;
			// 					position: relative;
			// 					.loading-datatable {
			// 						left: 0px;
			// 						top: 9px;
			// 						transform: translate(0);
			// 						position: relative;
			// 						.ui {
			// 							&:before {
			// 							}
			// 							&:after {
			// 							}
			// 						}
			// 					}
			// 				}
			// 			}
			// 		}
			// 	}
			// } //card_meio
			// .card_tarefas {
			// 	.ui {
			// 		.header {
			// 			position: relative;
			// 			padding: 10px 10px;
			// 			padding-top: 13px;
			// 			h3 {
			// 				margin-bottom: 0px;
			// 			}

			// 			.button_plus {
			// 				float: right;
			// 				position: absolute;
			// 				top: 13px;
			// 				right: 3px;
			// 				.plus {
			// 				}
			// 			}
			// 		}

			// 		.tarefas {
			// 			.scrollbar-container {
			// 			}
			// 			.tarefa {
			// 				position: relative;
			// 				.holder_tarefa {
			// 					padding-left: 40px;
			// 					h4 {
			// 						margin-bottom: 3px;
			// 						color: #23b7e5;
			// 						font-weight: 300;
			// 						font-size: 13px;
			// 					}

			// 					span {
			// 						display: block;
			// 						margin-bottom: 3px;
			// 						font-size: 12px;
			// 					}

			// 					.ui {
			// 						.clock {
			// 						}
			// 					}
			// 					span.visualizar {
			// 						margin-top: 3px;
			// 						text-decoration: underline;
			// 						cursor: pointer;
			// 					}
			// 				}
			// 			}
			// 		}
			// 	}
			// }
		// }
	}

	}
	.holderPage {
		@include breakpoint(mobileonly) {
			width: 95%;
		}
		.holder_cards {
			@include span(8 of 12);
			height: calc(100vh - 189px);
			margin-top: 20px;
			@include breakpoint(laptop) {
				@include span(7 of 12);
			}
			@include breakpoint(tablet) {
				@include span(6 of 12);
			}
			@include breakpoint(phablet) {
				@include span(full);
				height: auto;
			}
			.scrollbar-container {
				background: transparent;
			}
			.wrap_cards {
				@include span(full);
				padding-right: 10px;
				@include breakpoint(phablet) {
					padding-right: 0px;
				}
				.tabela-padrao {
					margin-top: 0px;
					.DataTableActions {
						.actions {
							display: none;
							.options-list {
								.ui {
									.backward {
									}
								}
							}

							.ui {
								.text {
								}

								.dropdown {
								}

								.menu {
									.item {
										.text {
										}
									}

									.active {
										.text {
										}
									}
								}
							}

							.busca-list {
								.close {
								}

								.search {
								}

								.ui {
									input {
									}
								}
							}

							.select-all {
								.checkbox-bloco {
									.ui {
										.hidden {
										}

										label {
										}
									}
								}

								.dropdown-all {
									.ui {
										.text {
										}

										.dropdown {
										}

										.menu {
											.item {
												.trash {
												}

												.text {
												}
											}
										}
									}
								}
							}

							.adicionar-list {
								.ui {
									.add {
									}
								}
							}
						}

						.ui {
							thead {
								tr {
									.ascended {
										span {
										}
									}

									th {
										span {
										}
									}

									.actions_header {
									}
								}
							}

							tbody {
							}

							tfoot {
								tr {
									th {
										.ui {
											.ui {
												.item {
												}

												.active {
												}
											}
										}
									}
								}
							}
						}
					}
				}
				.card_meio {
					@include span(6 of 12);
					margin-bottom: 15px;
					@include breakpoint(laptop) {
						@include span(full);
					}
					&.card_full {
						@include span(full);
					}
					&.mb0 {
						margin-bottom: 0px;
						@include breakpoint(laptop) {
							margin-bottom: 15px;
						}
					}
					&.chart_tickets {
						.ui {
							.header {
								h3 {
									float: left;
									margin-bottom: 0;
									margin-top: 4px;
								}
								.dateFilter {
									float: right;
								}
							}
						}
					}

					&:nth-child(2n) {
						margin-right: 0px;
					}
					.ui {
						.header {
							padding: 5px;
							h3 {
								color: #333;
								font-size: 20px;
								font-weight: 300;
							}
							.userFilter {
								margin-right: 5px;
								@include span(5 of 12);
								min-width: 0px;
							}
							.dateFilter {
								@include span(5 of 12);
								min-width: 0px;
							}
							.ui {
								.default {
								}

								.dropdown {
								}

								.menu {
									.header {
									}

									.selected {
										.user {
										}

										.text {
										}
									}

									.item {
										.globe {
										}

										.text {
										}
									}
								}
							}
						}
						.barras {
							.scrollbar-container {
								@include breakpoint(mobileonly) {
									height: auto;
								}
							}
						}
						.content {
							padding: 5px;
							.info {
								display: block;
								color: #92aab0;
								font-size: 13px;
								margin-bottom: 5px;
							}

							.numero {
								color: #23b7e5;
								font-weight: 300;
								font-size: 23px;
								position: relative;
								@include breakpoint(laptop) {
									font-size: 21px;
								}
								span {
									min-width: 14px;
									display: inline-block;
									height: 31px;
									position: relative;
									.loading-datatable {
										left: 0px;
										top: 9px;
										transform: translate(0);
										position: relative;
										.ui {
											&:before {
											}
											&:after {
											}
										}
									}
								}
							}
						}
					}
				} //card_meio
				.card_tarefas {
					.ui {
						.header {
							position: relative;
							padding: 10px 10px;
							padding-top: 13px;
							h3 {
								margin-bottom: 0px;
							}

							.button_plus {
								float: right;
								position: absolute;
								top: 13px;
								right: 3px;
								.plus {
								}
							}
						}

						.tarefas {
							.scrollbar-container {
							}
							.tarefa {
								position: relative;
								.holder_tarefa {
									padding-left: 40px;
									h4 {
										margin-bottom: 3px;
										color: #23b7e5;
										font-weight: 300;
										font-size: 13px;
									}

									span {
										display: block;
										margin-bottom: 3px;
										font-size: 12px;
									}

									.ui {
										.clock {
										}
									}
									span.visualizar {
										margin-top: 3px;
										text-decoration: underline;
										cursor: pointer;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

.toggleButtonTrash {
	cursor: pointer;
	display: block;
	transform-origin: 50% 50%;
	transform-style: preserve-3d;
	transition: transform 0.14s ease;
	position: absolute;
	left: 4px;
	top: 25%;
	transform: translateY(-50%);
	&:active {
		transform: translateY(-50%) rotateX(30deg);
	}

}
.toggleButton {
	cursor: pointer;
	display: block;
	transform-origin: 50% 50%;
	transform-style: preserve-3d;
	transition: transform 0.14s ease;
	position: absolute;
	left: 4px;
	top: 65%;
	transform: translateY(-50%);
	&:active {
		transform: translateY(-50%) rotateX(30deg);
	}
	input {
		display: none;
		& + div {
			display: block;
			border: 3px solid rgba($color, 0.2);
			border-radius: 50%;
			position: relative;
			width: 25px;
			height: 25px;
			svg {
				fill: none;
				stroke-width: 3.6;
				stroke: $color;
				stroke-linecap: round;
				stroke-linejoin: round;
				width: 25px;
				height: 25px;
				display: block;
				position: absolute;
				left: -3px;
				top: -3px;
				right: -3px;
				bottom: -3px;
				z-index: 1;
				stroke-dashoffset: 162.6 - 38;
				stroke-dasharray: 0 162.6 133 (162.6 - 133);
				transition: all 0.4s ease 0s;
			}
			&:before,
			&:after {
				content: "";
				width: 3px;
				height: 16px;
				background: $color;
				position: absolute;
				left: 50%;
				top: 50%;
				border-radius: 5px;
			}
			&:before {
				opacity: 0;
				transform: scale(0.3) translate(-50%, -50%) rotate(45deg);
				animation: bounceInBefore 0.3s linear forwards 0.3s;
			}
			&:after {
				opacity: 0;
				transform: scale(0.3) translate(-50%, -50%) rotate(-45deg);
				animation: bounceInAfter 0.3s linear forwards 0.3s;
			}
		}
		&:checked + div {
			svg {
				stroke-dashoffset: 162.6;
				stroke-dasharray: 0 162.6 28 (162.6 - 28);
				transition: all 0.4s ease 0.2s;
			}
			&:before {
				opacity: 0;
				transform: scale(0.3) translate(-50%, -50%) rotate(45deg);
				animation: bounceInBeforeDont 0.3s linear forwards 0s;
			}
			&:after {
				opacity: 0;
				transform: scale(0.3) translate(-50%, -50%) rotate(-45deg);
				animation: bounceInAfterDont 0.3s linear forwards 0s;
			}
		}
	}
}

@keyframes bounceInBefore {
	0% {
		opacity: 0;
		transform: scale(0.3) translate(-50%, -50%) rotate(45deg);
	}
	50% {
		opacity: 0.9;
		transform: scale(1.1) translate(-50%, -50%) rotate(45deg);
	}
	80% {
		opacity: 1;
		transform: scale(0.89) translate(-50%, -50%) rotate(45deg);
	}
	100% {
		opacity: 1;
		transform: scale(1) translate(-50%, -50%) rotate(45deg);
	}
}

@keyframes bounceInAfter {
	0% {
		opacity: 0;
		transform: scale(0.3) translate(-50%, -50%) rotate(-45deg);
	}
	50% {
		opacity: 0.9;
		transform: scale(1.1) translate(-50%, -50%) rotate(-45deg);
	}
	80% {
		opacity: 1;
		transform: scale(0.89) translate(-50%, -50%) rotate(-45deg);
	}
	100% {
		opacity: 1;
		transform: scale(1) translate(-50%, -50%) rotate(-45deg);
	}
}

@keyframes bounceInBeforeDont {
	0% {
		opacity: 1;
		transform: scale(1) translate(-50%, -50%) rotate(45deg);
	}
	100% {
		opacity: 0;
		transform: scale(0.3) translate(-50%, -50%) rotate(45deg);
	}
}

@keyframes bounceInAfterDont {
	0% {
		opacity: 1;
		transform: scale(1) translate(-50%, -50%) rotate(-45deg);
	}
	100% {
		opacity: 0;
		transform: scale(0.3) translate(-50%, -50%) rotate(-45deg);
	}
}
.holder_atividades {
	@include span(4 last of 12);
	margin-top: 20px;
	position: relative;
	@include breakpoint(laptop) {
		@include span(5 last of 12);
	}
	@include breakpoint(tablet) {
		@include span(6 last of 12);
	}
	@include breakpoint(phablet) {
		@include span(full);
		height: auto;
	}
	.card {
		.header {
			padding: 10px;
			h3 {
				color: #333;
				font-size: 20px;
				font-weight: 300;
			}
		}

		.header_atividades {
			@include span(full);
			position: absolute;
			top: 0px;
			left: 0px;
			h4 {
				font-size: 18px;
				font-weight: 300;
				padding: 10px;
				padding-left: 5px;
				margin-bottom: 0px;
			}
		}
		.content {
			padding-top: 0px;

			.atividades_bloco {
				@include span(full);
				height: calc(100vh - 225px);
				border-left: 1px solid rgba(0, 0, 0, 0.2);
				.scrollbar-container {
					background: transparent;
				}
				.atividade {
					@include span(full);
					padding-right: 20px;

					.icone_atividade {
						width: 10%;
						float: left;
						margin-top: 25px;
						position: relative;
						z-index: 5;
						&:before {
							content: "";
							width: 100%;
							height: 1px;
							background: rgba(0, 0, 0, 0.2);
							position: absolute;
							top: 50%;
							transform: translateY(-50%);
							z-index: 4;
						}
						.green {
							position: relative;
							z-index: 5;
							margin: auto;
							display: block;
						}
					}

					.card_atividade {
						background: #fff;
						width: 90%;
						float: right;
						border-radius: 10px;
						padding: 10px;
						position: relative;
						padding-left: 40px;
						margin-bottom: 10px;
						margin-top: 10px;
						background-color: rgba(204, 204, 204, 0.4);
						.foto_pessoa {
							width: 28px;
							height: 28px;
							position: absolute;
							top: 10px;
							left: 5px;
							border-radius: 50%;
							overflow: hidden;
							img {
								width: 100%;
								height: auto;
							}
						}

						.pessoa {
							margin-bottom: 3px;
							color: #23b7e5;
							font-weight: 300;
							font-size: 14px;
						}

						.ui {
							margin-bottom: 3px;
							.clock {
							}
						}

						span {
							text-overflow: ellipsis;
							overflow: hidden;
							display: block;
						}

						.visualizar {
							margin-top: 3px;
							text-decoration: underline;
							cursor: pointer;
						}
					}
				}
			}
		}
	}
}
.holder_atividades {
	.SideReports {
		.holderPage {
			.navConfig {
				@include span(full);
				margin-top: 0px;
				.ui {
					.content {
						padding: 1em;
						.header {
						}
					}
				}
			}
		}
	}
}
.extrair_pdf {
	float: right;
	i.xls {
		background-image: url("../assets/img/XLS-icon.png");
		width: 16px;
		height: 14px;
		background-size: auto 100%;
		background-repeat: no-repeat;
		background-position: center;
		margin: auto;
		display: block;
		opacity: 0.6;
	}
}
.button_right {
	float: right;
}
.atividade {
	@include span(full);
	padding-right: 20px;

	.icone_atividade {
		width: 10%;
		float: left;
		margin-top: 25px;
		position: relative;
		z-index: 5;
		&:before {
			content: "";
			width: 100%;
			height: 1px;
			background: rgba(0, 0, 0, 0.2);
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			z-index: 4;
		}
		.green {
			position: relative;
			z-index: 5;
			margin: auto;
			display: block;
		}
	}

	.card_atividade {
		background: #fff;
		width: 90%;
		float: right;
		border-radius: 10px;
		padding: 10px;
		position: relative;
		padding-left: 40px;
		margin-bottom: 10px;
		margin-top: 10px;
		background-color: rgba(204, 204, 204, 0.4);
		.foto_pessoa {
			width: 28px;
			height: 28px;
			position: absolute;
			top: 10px;
			left: 5px;
			border-radius: 50%;
			overflow: hidden;
			img {
				width: 100%;
				height: auto;
			}
		}

		.pessoa {
			margin-bottom: 3px;
			color: #23b7e5;
			font-weight: 300;
			font-size: 14px;
		}

		.ui {
			margin-bottom: 3px;
			width: auto;
			.clock {
			}
		}

		span {
			text-overflow: ellipsis;
			overflow: hidden;
			display: block;
		}

		.visualizar {
			margin-top: 3px;
			text-decoration: underline;
			cursor: pointer;
		}
	}
}
.progresso_desc {
	button {
		i {
			color: #000;
		}
	}
}
