.wrap_table {
  @include container(90%);
  @include span(full);
  .row {
    @include span(full);

    .col-sm-12 {
      @include span(full);
      &.col-md-6 {
        @include span(6 of 12 inside no-gutter);
        margin-bottom: 5px;
      }
      .dataTables_length {
        float: left;
        margin-top: 20px;
        label {
          .custom-select {
          }
        }
      }
      .dataTables_filter {
        float: right;
        margin-top: 20px;
        label {
          .form-control {
          }
        }
      }

      div {
        .table {
          width: 100%;
          thead {
            tr {
              background: #ccc;
              th {
                .fa {
                }
              }
            }
          }

          tbody {
            tr {
              background: #fff;
              &:nth-child(2n) {
                background: #f5f5f5;
              }
              td {
              }
            }
          }
        }
      }

      .dataTables_info {
      }
    }
  }
  .col-sm-12 {
    .dataTables_paginate {
      .pagination {
        .page-item {
          .page-link {
            span {
            }
          }
        }
      }
    }
  }
}
