.dataEditar {
	position: relative;
	transition: all 0.25s ease;
	.iconEditar {
		cursor: pointer;
		float: right;
		position: absolute;
		top: 50%;
		right: 5px;
		transform: translateY(-50%);
		svg {
			opacity: 0;
			transition: all 0.25s ease;
			margin-top: 10px;
			margin-left: 10px;
			path {
				fill: darken(#ccc, 10%);
			}
		}
	}
	&:hover {
		background-color: darken(#f5f5f5, 10%);
		.iconEditar {
			svg {
				opacity: 1;
			}
		}
	}
}
