@charset "UTF-8";

@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }

  &:-moz-placeholder {
    @content;
  }

  &::-moz-placeholder {
    @content;
  }

  &:-ms-input-placeholder {
    @content;
  }
}

@mixin breakpoint($point) {
  @if $point==desktop {
    @media (min-width: 1440px) {
      @content;
    }
  } @else if $point==laptop {
    @media (max-width: 1200px) {
      @content;
    }
  } @else if $point==tablet {
    @media (max-width: 980px) {
      @content;
    }
  } @else if $point==phablet {
    @media (max-width: 768px) {
      @content;
    }
  } @else if $point==mobileonly {
    @media (max-width: 480px) {
      @content;
    }
  }
}

$azul: #478aef;
$cinzaescuro: rgba(128, 130, 132, 0.5);
$verde: rgba(153, 202, 60, 1);
$cinzaclaro: rgba(167, 169, 171, 0.25);
$azulescuro: rgba(33, 35, 61, 1);
$vermelho: #c94a3c;
$preto: #2e3144;

@import "grids";
@import "fa";
@import "table";
@import "mensagem";
@import "origens";
@import "infocliente";
@import "infospersonalizados";
@import "infoticket";
@import "header";
@import "stickytopo";
@import "corpochat";
@import "conversas";
@import "boxticket";
@import "scrollbar";
@import "dropdown";
@import "busca";
@import "login";
@import "menuoffside";
@import "servicestatus";
@import "configpage";
@import "client";
@import "users";
@import "fullcalendar";
@import "summary";
@import "report";
@import "profile";

@font-face {
  font-family: "Sailec";
  src: url("../fonts/Sailec-Light.woff2") format("woff2"),
    url("../fonts/Sailec-Light.woff") format("woff"),
    url("../fonts/Sailec-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Sailec Hairline";
  src: url("../fonts/SailecHairline-Italic.woff2") format("woff2"),
    url("../fonts/SailecHairline-Italic.woff") format("woff"),
    url("../fonts/SailecHairline-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Sailec";
  src: url("../fonts/Sailec-BlackItalic.woff2") format("woff2"),
    url("../fonts/Sailec-BlackItalic.woff") format("woff"),
    url("../fonts/Sailec-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Sailec";
  src: url("../fonts/Sailec-Thin.woff2") format("woff2"),
    url("../fonts/Sailec-Thin.woff") format("woff"),
    url("../fonts/Sailec-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Sailec";
  src: url("../fonts/Sailec-Bold.woff2") format("woff2"),
    url("../fonts/Sailec-Bold.woff") format("woff"),
    url("../fonts/Sailec-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Sailec";
  src: url("../fonts/Sailec-BoldItalic.woff2") format("woff2"),
    url("../fonts/Sailec-BoldItalic.woff") format("woff"),
    url("../fonts/Sailec-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Sailec Regular";
  src: url("../fonts/Sailec-Italic.woff2") format("woff2"),
    url("../fonts/Sailec-Italic.woff") format("woff"),
    url("../fonts/Sailec-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Sailec";
  src: url("../fonts/Sailec-LightItalic.woff2") format("woff2"),
    url("../fonts/Sailec-LightItalic.woff") format("woff"),
    url("../fonts/Sailec-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Sailec";
  src: url("../fonts/Sailec-Black.woff2") format("woff2"),
    url("../fonts/Sailec-Black.woff") format("woff"),
    url("../fonts/Sailec-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Sailec";
  src: url("../fonts/Sailec.woff2") format("woff2"),
    url("../fonts/Sailec.woff") format("woff"),
    url("../fonts/Sailec.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Sailec";
  src: url("../fonts/Sailec-ThinItalic.woff2") format("woff2"),
    url("../fonts/Sailec-ThinItalic.woff") format("woff"),
    url("../fonts/Sailec-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Sailec Hairline";
  src: url("../fonts/SailecHairline.woff2") format("woff2"),
    url("../fonts/SailecHairline.woff") format("woff"),
    url("../fonts/SailecHairline.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Sailec";
  src: url("../fonts/Sailec-Medium.woff2") format("woff2"),
    url("../fonts/Sailec-Medium.woff") format("woff"),
    url("../fonts/Sailec-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Sailec";
  src: url("../fonts/Sailec-MediumItalic.woff2") format("woff2"),
    url("../fonts/Sailec-MediumItalic.woff") format("woff"),
    url("../fonts/Sailec-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@import url("https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");

*:focus {
  outline: 0px;
}

body {
  font-family: "Nunito", sans-serif !important;
  background: #ffffff;
}

h1 {
  font-family: "Nunito", sans-serif !important;
}

.ui {
  font-family: "Nunito", sans-serif !important;
}

.App {
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.tr {
  text-align: right;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body.homepage {
  overflow-y: hidden;
}

.ovhy {
  overflow-y: hidden;

  .wrap_chat {
    width: calc(100%);
    left: 0px;

    &.off-side {
      left: 110px;

      @include breakpoint(phablet) {
        left: 0px;
      }
    }
  }
}

.wrap_chat {
  @include container(100%);
  width: calc(100% - 110px);
  position: relative;
  float: left;
  top: 0px;
  transition: all 0.25s ease;

  @include breakpoint(phablet) {
    width: 100%;
  }

  &.off-side {
    position: relative;

    @include breakpoint(phablet) {
      left: 0px;
      top: 0px;
    }
  }

  &.off-side-mobile {
    @include breakpoint(phablet) {
      left: 0px;
      top: 0px;
    }
  }
}

@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}

@keyframes slide-right {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}

.slide-right {
  @include breakpoint(mobileonly) {
    -webkit-animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      both;
    animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
}

@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

.open_chat {
  @include breakpoint(mobileonly) {
    -webkit-animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
}

div.chat {
  @include span(full);
  height: calc(100vh - 230px);
  padding-right: 15px;
  border-left: 1px solid rgba(128, 130, 132, 0.24);

  @include breakpoint(mobileonly) {
    height: 80vh;
    padding: 0px 5px;
  }
}

.wrap_boxes {
  @include span(full);
  border-left: 0px solid rgba(128, 130, 132, 0.24);
  padding-left: 0px;
  overflow: hidden;

  @include breakpoint(mobileonly) {
    border: 0px;
    @include span(full);
    @include container(100%);
    float: none;
  }
}

.chatimg {
  width: 100%;
  height: auto;
}

.show {
  display: block;
}

.popover {
  z-index: 10;
}

.voltar_chat {
  display: none;

  &.chatmobile {
    svg {
      transform: scaleY(-1) !important;
    }
  }

  @include breakpoint(phablet) {
    display: block;
    position: absolute;
    bottom: 8px;
    left: 50px;
    z-index: 11;
    border: 0px;
    padding: 2px 4px;
    background-color: #62b9c4;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: all 0.25s ease;

    &.open_chat {
      visibility: visible;
      opacity: 1;
      animation: none;
    }

    svg {
      path {
        fill: #ffffff;
      }
    }
  }
}

.mdi:before,
.mdi-set {
  display: inline-block;
  font: normal normal normal 24px/1 "Material Design Icons";
  font-size: inherit;
  text-rendering: auto;
  line-height: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

b {
  font-weight: bold;
}

.PopoverContent {
  .popOverHeader {
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    min-width: 300px;

    h3 {
    }
  }

  .input {
    &.input-comment {
      margin-bottom: 10px;
    }

    span {
      margin-bottom: 3px;
      color: rgb(51, 51, 51);
    }

    .ui {
      input {
      }
    }
  }

  .popOverFooter {
    margin-top: 10px;

    .ui {
    }
  }
}

.ui.table {
  background: #f9fafb;

  tr {
    td {
      background: #ffffff;

      .dataEditar {
        padding-right: 25px;
      }
    }
  }
}

tfoot {
  margin: auto;
  display: inline-block;
}

.active-pink-2 input[type="text"]:focus:not([readonly]) {
  border-bottom: 1px solid #f48fb1;
  box-shadow: 0 1px 0 0 #f48fb1;
}

.active-pink input[type="text"] {
  border-bottom: 1px solid #f48fb1;
  box-shadow: 0 1px 0 0 #f48fb1;
}

.active-purple-2 input[type="text"]:focus:not([readonly]) {
  border-bottom: 1px solid #ce93d8;
  box-shadow: 0 1px 0 0 #ce93d8;
}

.active-purple input[type="text"] {
  border-bottom: 1px solid #ce93d8;
  box-shadow: 0 1px 0 0 #ce93d8;
}

.active-cyan-2 input[type="text"]:focus:not([readonly]) {
  border-bottom: 1px solid #4dd0e1;
  box-shadow: 0 1px 0 0 #4dd0e1;
}

.active-cyan input[type="text"] {
  border-bottom: 1px solid #4dd0e1;
  box-shadow: 0 1px 0 0 #4dd0e1;
}

.active-cyan .fa,
.active-cyan-2 .fa {
  color: #4dd0e1 !important;
}

.active-purple .fa,
.active-purple-2 .fa {
  color: #ce93d8 !important;
}

.active-pink .fa,
.active-pink-2 .fa {
  color: #f48fb1 !important;
}

.active-pink-4 input[type="text"]:focus:not([readonly]) {
  border: 1px solid #f48fb1;
  box-shadow: 0 0 0 1px #f48fb1;
}

.active-pink-3 input[type="text"] {
  border: 1px solid #f48fb1;
  box-shadow: 0 0 0 1px #f48fb1;
}

.active-purple-4 input[type="text"]:focus:not([readonly]) {
  border: 1px solid #ce93d8;
  box-shadow: 0 0 0 1px #ce93d8;
}

.active-purple-3 input[type="text"] {
  border: 1px solid #ce93d8;
  box-shadow: 0 0 0 1px #ce93d8;
}

.active-cyan-4 input[type="text"]:focus:not([readonly]) {
  border: 1px solid #4dd0e1;
  box-shadow: 0 0 0 1px #4dd0e1;
}

.active-cyan-3 input[type="text"] {
  border: 1px solid #4dd0e1;
  box-shadow: 0 0 0 1px #4dd0e1;
}

.active-cyan-3 .fa,
.active-cyan-4 .fa {
  color: #4dd0e1;
}

.active-purple-3 .fa,
.active-purple-4 .fa {
  color: #ce93d8;
}

.active-pink-3 .fa,
.active-pink-4 .fa {
  color: #f48fb1;
}

.input-group.md-form.form-sm.form-1 input {
  border: 1px solid #bdbdbd;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.input-group.md-form.form-sm.form-2 input {
  border: 1px solid #bdbdbd;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.input-group.md-form.form-sm.form-2 input.red-border {
  border: 1px solid #ef9a9a;
}

.input-group.md-form.form-sm.form-2 input.lime-border {
  border: 1px solid #cddc39;
}

.input-group.md-form.form-sm.form-2 input.amber-border {
  border: 1px solid #ffca28;
}

.holderPage {
  .options-list {
    float: left;

    @include breakpoint(mobileonly) {
      @include span(6 of 12);
      margin-bottom: 5px;

      button {
        float: left;
      }
    }
  }

  .busca-list {
    @include span(4 of 12);
    margin-bottom: 20px;

    @include breakpoint(mobileonly) {
      @include span(6 last of 12);
      margin-bottom: 3px;
    }
  }

  .data-list {
    @include span(full);
    margin-bottom: 10px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 20px 1px rgba(0, 0, 0, 0.06),
      0 1px 4px rgba(0, 0, 0, 0.08);
    border: 0;

    @include breakpoint(phablet) {
      margin-bottom: 20px;
    }

    .ui {
      .foto-usuario {
        float: left;
        width: 40px;
        height: 100%;
        background-color: #71e2ef;

        @include breakpoint(tablet) {
          position: absolute;
          left: 0px;
          height: auto;
          top: 50%;
          transform: translateY(-50%);
        }
      }

      .content {
        padding: 0px;

        ul {
          list-style: none;
          display: inline-block;
          padding-left: 40px;
          margin: 0px;
          float: left;
          position: absolute;
          left: 0px;
          top: 50%;
          transform: translateY(-50%);
          width: 100%;

          @include breakpoint(tablet) {
            position: relative;
            top: auto;
            transform: none;
            padding-left: 50px;
          }

          li {
            display: inline-block;
            text-align: left;
            float: left;

            @include breakpoint(tablet) {
              display: block;
              width: auto;
              margin-bottom: 5px;
              width: 42%;
              margin-right: 3px;
              margin-bottom: 3px;
            }

            @include breakpoint(phablet) {
              clear: both;
              margin-right: 0px;

              &:first-child {
                margin-top: 5px;
              }
            }

            @include breakpoint(mobileonly) {
            }

            .dataEditar {
              padding: 10px 10px;
              padding-right: 35px;
              white-space: nowrap;
              overflow: hidden !important;
              text-overflow: ellipsis;
              min-height: 39px;

              @include breakpoint(tablet) {
                min-height: 39px;
                padding: 0px;
                padding-left: 3px;
                background-color: gainsboro;
                border-radius: 3px;

                .iconEditar {
                  svg {
                    opacity: 1;
                  }
                }
              }

              b {
              }

              .iconEditar {
                cursor: pointer;
                float: right;
                position: absolute;
                top: 57%;
                right: 3px;
                transform: translateY(-50%);

                @include breakpoint(tablet) {
                  top: 50%;
                }

                svg {
                  margin-top: 0px;
                  margin-left: 0px;

                  path {
                  }
                }
              }

              span {
                @include breakpoint(tablet) {
                  padding: 10px 5px;
                  padding-right: 35px;
                  display: block;
                  min-width: 150px;
                }
              }
            }
          }
        }

        .icon-list {
          i {
            color: #2185d0;
            margin-right: 10px;
            font-size: 18px;
            transform: translateY(-2px);
            cursor: pointer;

            @include breakpoint(tablet) {
              margin-right: 10px;
            }
          }

          position: absolute;
          right: 25px;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }
}

.parametersPage .meio {
  @include span(3 of 12);
  margin-bottom: 20px;

  .card {
    min-height: 203px;
  }

  &:nth-child(2n) {
    margin-right: 1.69492%;
  }

  &:nth-child(4n) {
    margin-right: 0px;
  }
}

.meio {
  @include span(6 of 12);
  margin-bottom: 10px;

  &:nth-child(2n) {
    margin-right: 0px;
  }
}

.tres-quartos {
  @include span(8 of 12);

  &:nth-child(3n) {
    margin-right: 0px;
  }
}

.form-user {
  hr {
    @include span(full);
    border: 0px;
    border-top: 1px solid #ccc;
    margin: 20px 0px;
  }
}

textarea.textarea-modal {
  color: rgba(0, 0, 0, 0.87);

  @include placeholder {
    color: rgba(0, 0, 0, 0.87) !important;
  }
}

.paginacao {
  @include span(full);
}

.w-40 {
  width: 40%;
}

.w-30 {
  width: 30%;
}

.w-20 {
  width: 20%;
}

.w-15 {
  width: 15%;
}

.tabela-padrao {
  @include span(full);
  border-radius: 20px;
  box-shadow: 0 4px 20px 1px rgba(0, 0, 0, 0.06), 0 1px 4px rgba(0, 0, 0, 0.08);
  border: 0;
  background-color: #fff;
  margin-top: 20px;

  .headingPage {
    background-color: #f7f7f7;
    -webkit-border-top-left-radius: 20px;
    -webkit-border-top-right-radius: 20px;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-topright: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-weight: 300;

    h1 {
    }
  }

  .DataTableActions {
    width: 100%;
    display: block;
    overflow-x: auto;
    position: relative;

    .actions {
      @include span(full);
      padding: 10px;

      .busca-list {
        @include span(5 of 12);
        margin-bottom: 0px;

        @include breakpoint(desktop) {
          @include span(9 of 24);
        }

        @include breakpoint(laptop) {
          @include span(4 of 12);
        }
      }

      .dropdown {
        float: left;
        margin-right: 3px;
      }
    }

    .ui.table {
      margin-top: 0px;
      border: 0;

      thead {
        tr {
          th {
            text-align: left;
            padding: 0.9rem 1.2rem;
            color: rgba(0, 0, 0, 0.54);
            vertical-align: bottom;
            font-size: 12px;
            font-weight: 500;
            background: #fff;
            border-left: 0px;

            span {
              float: left;
              margin-right: 5px;
            }

            &.actions_header {
              &:before {
                content: "";
                display: inline-block;
              }

              &:after {
                content: "";
                display: inline-block;
                margin-left: 0px;
              }
            }
          }
        }
      }

      tbody {
        .table-list {
          td {
            background: #f7f7f7;
            padding: 0.9rem 1.2rem;
          }

          &:nth-child(2n) {
            td {
              background-color: #ffffff;
            }

            &:hover {
              td {
                .dataEditar {
                  .iconEditar {
                    svg {
                      path {
                        fill: #ffffff;
                      }
                    }
                  }
                }
              }
            }
          }

          &:hover {
            td {
              background-color: #b3b3b3;

              .dataEditar {
                .iconEditar {
                  svg {
                    path {
                      fill: #ffffff;
                    }
                  }
                }
              }
            }
          }

          &:last-child {
            td {
              border-bottom: 1px solid rgba(34, 36, 38, 0.1);
            }
          }

          td {
            padding: 0.7rem 1rem;
            border: 0px;
            transition: all 0.25s ease;

            &:first-child {
              width: 1%;
              white-space: nowrap;
            }

            &:last-child {
              width: 1%;
              white-space: nowrap;
            }

            .icon-list {
              i {
                color: #2185d0;
                margin-right: 10px;
                font-size: 18px;
                transform: translateY(-2px);
                cursor: pointer;
              }
            }

            .dataEditar {
              padding: 0px 3px;
              padding-right: 10px;
              min-height: 0px;

              &:hover {
                background-color: transparent;

                .iconEditar {
                  svg {
                    opacity: 1;
                  }
                }
              }

              .iconEditar {
                opacity: 0 !important;

                svg {
                  margin-top: 0px;
                  margin-left: 0px;
                  opacity: 0;
                  display: none;

                  path {
                  }
                }
              }

              span {
                text-align: left;
                padding: 0px;
                vertical-align: top;
                border-top: 0;
                color: rgba(0, 0, 0, 0.87);
                transition: width 0.3s;
                font-size: 14px;
                font-weight: 400;
              }
            }
          }
        }
      }

      tfoot {
        display: table-footer-group;

        tr {
          th {
            border: 0px;

            .ui {
              background-color: transparent;
              border: 0px;
              box-shadow: none;

              .icon {
                color: rgba(0, 0, 0, 0.54);

                .chevron {
                }
              }

              .item {
                &:before {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }
}

.deleteModal {
  .content {
    .description {
      .form-ticket {
        text-align: center;

        .warning {
          font-size: 100px;
          color: #facea8;
          display: inline-block;
          width: 100%;
        }

        h1 {
          display: inline-block;
          width: 100%;
          color: #595959;
        }

        p {
          display: inline-block;
          width: 100%;
        }
      }
    }
  }
}

.full {
  @include span(full);
  margin-top: 20px;

  .DataTableActions {
    max-height: calc(100vh - 173px);
  }
}

.quarto {
  @include span(3 of 12);

  &:nth-child(4n) {
    margin-right: 0px;
  }

  &.terco {
    @include span(4 of 12);

    &:nth-child(3n) {
      margin-right: 0px;
    }
  }

  @include breakpoint(tablet) {
    @include span(6 of 12);
    margin-bottom: 20px;

    &:nth-child(2n) {
      margin-right: 0px;
    }
  }

  @include breakpoint(mobileonly) {
    @include span(full);
  }
}

.meio {
  .ui.form {
    text-align: left;

    button {
      float: right;
    }
  }
}

.card.plano {
  .headerCard {
    background-color: #1a5abf;

    .header {
      color: #fff;
    }
  }

  //header_card
  .content.infos {
    padding: 0px;

    .preco {
      padding: 10px 0px;
      background: #f5f5f5;

      .field {
        h1 {
        }
      }
    }

    .info_plano {
      padding: 10px 0px;
      background: #ffffff;

      &.info_drop {
        padding: 10px 20px;
      }

      &:nth-child(2n) {
        background: #f5f5f5;
      }

      .ui {
        .dropdown.selection {
          background: transparent;
          border: 0px;
          border-bottom: 1px solid #ccc;

          .default {
            color: rgba(0, 0, 0, 0.87);
          }

          .dropdown {
            color: rgba(0, 0, 0, 0.87);
          }

          .menu {
            background: #f5f5f5;

            .selected {
              .text {
              }
            }

            .item {
              .text {
              }
            }
          }
        }
      }

      .check {
        color: #21ba45;
      }

      b {
      }

      button {
      }
    }

    //info_plano
  }
}

.holder_contact {
  @include span(full);

  .form-contact {
    @include span(8 of 12);
  }

  .contact-image {
    @include span(4 last of 12);

    span {
      text-align: center;
      margin-bottom: 5px;
      display: block;
    }

    img {
      margin: auto;

      margin-bottom: 15px;
    }
  }
}

.ui.modal > .content {
  @include span(full);
}

.ui.modal > .actions {
  float: left;
  width: 100%;
}

.card.plano {
  text-align: center;
}

div.form-row {
  display: flex;
  flex-direction: row;
  margin: 0 -0.5em 1em;
  margin-bottom: 0px;

  div.field-row {
    width: 100%;
    flex: 1 1 auto;
    margin: 0px 10px 1em;

    &.context {
      overflow: hidden;
    }
  }
}

.form-ticket,
.form-campaign {
  div.form-row {
    display: flex;
    flex-direction: row;
    margin: 0 -0.5em 1em;
    margin-bottom: 0px;

    div.field-row {
      width: 100%;
      flex: 1 1 auto;
      margin: 0px 10px 1em;
    }
  }
}

.interacoes-comment {
  margin: 5px 0px;

  select {
  }

  button {
    float: right;
  }

  .btn-enviar {
    display: block;
    margin-top: 5px;
  }
}

ol.progtrckr {
  list-style-type: none;
  padding: 0;
}

ol.progtrckr li {
  display: inline-block;
  text-align: center;
  line-height: 58px;
  cursor: pointer;
  width: 20%;
}

ol.progtrckr li span {
  padding: 0 1.5rem;
}

@media (max-width: 650px) {
  .progtrckr li span {
    display: none;
  }
}

.progtrckr em {
  display: none;
  font-weight: 700;
  padding-left: 1rem;
}

@media (max-width: 650px) {
  .progtrckr em {
    display: inline;
  }
}

ol.progtrckr li.progtrckr-todo {
  color: silver;
  border-bottom: 4px solid silver;
}

ol.progtrckr li.progtrckr-doing {
  color: black;
  border-bottom: 4px solid #da2222;

  span {
    color: #da2222;
  }

  &:before {
    background-color: #da2222;
  }
}

ol.progtrckr li.progtrckr-done {
  color: black;
  border-bottom: 4px solid #5cb85c;

  span {
    color: #5cb85c;
  }
}

ol.progtrckr li:after {
  content: "\00a0\00a0";
}

ol.progtrckr li:before {
  position: relative;
  bottom: -3.7rem;
  float: left;
  left: 50%;
}

ol.progtrckr li.progtrckr-todo:before {
  content: "\039F";
  color: silver;
  background-color: white;
  width: 1.2em;
  line-height: 1.4em;
}

ol.progtrckr li.progtrckr-todo:hover:before {
  color: #ff4500;
}

ol.progtrckr li.progtrckr-doing:before {
  content: "\2022";
  color: white;
  background-color: #da2222;
  width: 1.2em;
  line-height: 1.2em;
  border-radius: 1.2em;
}

ol.progtrckr li.progtrckr-doing:hover:before {
  color: #ff4500;
}

ol.progtrckr li.progtrckr-done:before {
  content: "\2713";
  color: white;
  background-color: #5cb85c;
  width: 1.2em;
  line-height: 1.2em;
  border-radius: 1.2em;
}

ol.progtrckr li.progtrckr-done:hover:before {
  color: #333;
}

.step-progress {
  width: 100%;
  display: block;
  overflow: hidden;
}

.footer-buttons {
  float: right;
  margin-top: 10px;

  .back_button {
    background-color: #9e9e9e;
    color: #ffffff;
    border: 0px;
    padding: 10px 15px;
    font-weight: bold;
    border-radius: 3px;
    cursor: pointer;
  }

  .next_button {
    background-color: #1a69a4;
    border: 0px;
    color: #fff;
    padding: 10px 15px;
    margin-left: 5px;
    font-weight: bold;
    border-radius: 3px;
    cursor: pointer;
  }
}

.time-range {
  display: block;
  overflow: hidden;

  .start {
    float: left;
  }

  .end {
    float: right;
  }
}

.input-range__slider {
  background: #478aef;
  border: #478aef;
}

.input-range__track--active {
  background: #478aef;
}

.whatsapp-image {
  max-width: 300px;
  height: auto;
  float: right;
}

.comment {
  position: relative;
  width: 50%;
  max-width: 95%;
  float: left;
  clear: both;
  margin-bottom: 20px;
  margin-left: 35px;

  &.comment_box {
    width: 100%;

    .box_comment {
      background: rgba(255, 152, 0, 0.2);
    }
  }

  .origem_comment {
    position: absolute;
    left: -21px;
    bottom: 6px;
    z-index: 7;

    @include breakpoint(mobileonly) {
      display: none;
    }

    &:nth-child(1) {
      &:before {
        content: "";
        width: 150px;
        height: 1px;
        position: absolute;
        z-index: 1;
        left: -150px;
        top: 15px;
        background-color: rgba(128, 130, 132, 0.5);
      }
    }

    .origem {
      img {
        width: 31px;
        height: 31px;
        border-radius: 30px;
      }
    }

    //origem
  }

  //origem_comment

  .comment-title {
    text-align: left;
    margin-bottom: 5px;
    margin-top: 0px;
    text-align: left;
    margin-bottom: 5px;
    margin-top: 0px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    font-size: 10px;
  }

  .box_comment {
    background: rgba(232, 185, 137, 0.25);
    border-radius: 5px;
    max-width: 100%;
    width: 100%;
    margin: auto;
    margin-right: 20px;
    float: right;
    display: block;

    padding: 10px;
    position: relative;
    padding-top: 22px;
    padding-bottom: 15px;

    &.forward {
      background: rgba(149, 240, 153, 0.25);
    }

    &:before {
      content: "";
      background-color: #ffffff;
      position: absolute;
      top: -3px;
      left: -2px;
      width: 40px;
      height: 120%;
      border-bottom-right-radius: 50px;

      @include breakpoint(mobileonly) {
        display: none;
      }
    }

    .box {
      text-align: center;
      padding-left: 30px;
      text-overflow: ellipsis;
      overflow: hidden;
      margin-top: 10px;

      .comment_ticket {
        position: absolute;
        top: 2px;
        left: 75px;
        font-size: 11px;
        width: 87%;
        border-bottom: 1px solid #e8bb7b;
        text-align: left;

        &.forward-comment {
          border-bottom: 1px solid #82d886;
        }

        b {
          font-size: 12px;
          font-weight: bold;
        }
      }

      .data {
        font-size: 12px;
        font-weight: 300;
        font-style: italic;
      }
    }
  }

  //box_comment
}

//comment

.popover_comment {
  max-width: 100%;
  width: 444px;
}

.icone_celular {
  display: inline-block;
  float: left;
  margin-top: 4px;
  cursor: pointer;

  i {
    font-size: 20px;
    color: #1a5abf;
  }

  i.notautenticado {
    color: #ec6b0c;
  }

  i.conectado {
    color: $verde;
  }

  i.desconectado {
    color: $vermelho;
  }

  .phone_icon {
    .red_whatsapp {
      display: block;
    }
  }
}

.perfil {
  float: left;
}

.hide {
  visibility: hidden;
  max-height: 0px;
  transition: all 0.25s ease;
  opacity: 0;
  overflow: hidden;
}

.show {
  visibility: visible;
  max-height: 481px;
  transition: all 0.25s ease;
  overflow: hidden;
  opacity: 1;
}

.ui.modal {
  transition: all 0.25s ease;
}

.button_add_comment {
  position: absolute;
  top: -58px;
  left: 0px;
}

.button_android {
  position: relative;
  cursor: pointer;
  float: left;
  margin-right: 3px;

  &.disable {
    i {
      color: rgba(128, 130, 132, 0.5);
    }
  }

  i {
    font-size: 38px;
    color: $verde;
    transition: all 0.25s ease;

    &.disable {
      color: rgba(128, 130, 132, 0.5);
    }
  }
}

.icones_status {
  .icone {
    display: inline-block;
    margin-left: 5px;
    height: 22px;
    width: 27px;
    line-height: 27px;
    position: relative;

    i {
      font-size: 22px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .encaminhada {
    .comments {
    }
  }

  .mensagem-bot {
    .icons {
      .comment {
      }

      .android {
        color: $verde;
        font-size: 20px;
        text-shadow: none;
      }
    }

    .android {
      color: rgba(0, 0, 0, 0.6);
      font-size: 22px;
      text-shadow: none;
    }
  }

  .tempo-expirado {
    .icons {
      top: 55%;

      .comment {
        color: $vermelho;
      }

      .clock {
        font-size: 16px;
        color: rgba(0, 0, 0, 0.6);
        text-shadow: none;

        &:before {
          background-color: #fff !important;
          border-radius: 50%;
        }
      }
    }
  }
}

.summary {
  .headingPage {
    h1 {
      display: inline-block;
    }
  }

  .last_login {
    float: right;
  }
}

.sc-launcher {
  z-index: 9;
  cursor: pointer;
  background-color: #4898ae;
}

.sc-chat-window {
  z-index: 9;
}

.sc-header--img {
  align-self: center;
  padding: 10px;
  width: 75px;
  height: 75px;
  border-radius: 0px;
}

.sc-header {
  background-color: #4898ae;
}

.sc-message--content.sent .sc-message--text {
  background-color: #4898ae;
}

.holder_social {
  @include span(8 of 12);

  &:nth-child(2n) {
    @include span(4 last of 12);
    margin-right: 0px;
  }

  &.full {
    @include span(full);

    .bloco_qrcode {
      width: 28%;
      margin-bottom: 28px;
      margin-top: 28px;
    }
  }

  .bloco_qrcode {
    position: relative;
    width: 70%;
    margin: auto;
    display: block;

    .loading_qrcode {
      position: absolute;
      top: 0px;
      bottom: 0px;
      left: 0px;
      right: 0px;
      margin: auto;
      display: block;
      width: 58px;
      height: 58px;
    }

    img {
      width: 100%;
      height: auto;
      margin: auto;
      display: block;

      &.inativo {
        opacity: 0.2;
      }

      &.apagado {
        opacity: 0;
      }
    }

    button {
      background-color: $azul;
      color: #fff;
      font-size: 18px;
      border: 0px;
      width: 75%;
      height: 75%;
      position: absolute;
      top: 0px;
      bottom: 0px;
      left: 0px;
      right: 0px;
      margin: auto;
      display: block;
      border-radius: 50%;
      padding: 10px;
      cursor: pointer;

      i {
        margin: auto;
        display: block;
        color: #fff;
        clear: both;
        font-size: 24px;
      }
    }

    .conectado {
      width: 50%;
      height: 50%;
      position: absolute;
      top: 0px;
      bottom: 0px;
      left: 0px;
      right: 0px;
      margin: auto;
      display: block;
    }
  }
}

// Colors
$green: #7ac142;
$white: #fff;
// Misc
$curve: cubic-bezier(0.65, 0, 0.45, 1);

.checkmark {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: block;
  stroke-width: 4;
  stroke: $white;
  stroke-miterlimit: 10;
  box-shadow: inset 0px 0px 0px $green;
  animation: fill 1.4s ease-in-out 1.4s forwards,
    scale 1.3s ease-in-out 0.9s both;
}

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 50;
  stroke-miterlimit: 10;
  stroke: $green;

  fill: none;
  animation: stroke 0.6s $curve forwards;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s $curve 0.8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes scale {
  0%,
  100% {
    transform: none;
  }

  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}

@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px $green;
  }
}

span.enviadas_total {
  display: block;
  text-align: center;

  .align_center {
    text-align: center;
    display: inline-block;
  }

  .botao_mensagens {
    margin-left: 5px;
    float: right;
  }
}

span.numero_da_conta {
  margin-bottom: 10px;
  display: block;
  color: #000000;
  font-size: 24px;
  font-weight: bold;
}

.multi-step {
  .save_right {
    float: right;
    margin-top: 10px;
    margin-left: 5px;
  }
}

.progresso_tabela {
  width: 91px;
}

span.textCenter {
  display: block;
  text-align: center;
}

.mensagem-quoted {
  height: 100%;
}

.chart_holder {
  width: 76%;
  height: auto;
  position: absolute;
  bottom: 5px;
  left: 0px;
  margin: 0px 3.5%;
  margin-right: 20%;
  border-left: 0.5px solid rgba(0, 0, 0, 0.5);
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.5);
  overflow: visible;

  .chartjs-render-monitor {
    margin-left: -10px;
    margin-bottom: -10px;
  }
}

canvas {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#chartjs-tooltip {
  opacity: 1;
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  border-radius: 3px;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  pointer-events: none;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  z-index: 9;
}

.chartjs-tooltip-key {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 10px;
}

i.icon.robot:before {
  content: "\f544";
}

.icone.encaminhada {
  span {
    position: absolute;
    background: #e62929;
    color: #fff;
    top: -2px;
    right: 0px;
    border-radius: 50%;
    font-size: 8px;
    padding: 0px;
    width: 15px;
    height: 15px;
    line-height: 15px;
    text-align: center;
    z-index: 9;
  }

  .icone_my_messages {
    position: relative;
  }
}

@keyframes myAnimation {
  0% {
    opacity: 1;
    transform: rotateX(90deg);
  }

  50% {
    opacity: 0.5;
    transform: rotateX(0deg);
  }

  100% {
    display: none;
    opacity: 0;
    transform: rotateX(90deg);
  }
}

.AlertSuccess {
  animation-name: myAnimation;
  animation-duration: 5000ms;
  animation-fill-mode: forwards;
  position: fixed;
  z-index: 9;
  top: 70px;
  right: 0%;
  width: 400px;
  height: auto;
  background-color: #e5f9e7;
  color: #1ebc30;
  -webkit-box-shadow: 0 0 0 1px #1ebc30 inset, 0 0 0 0 transparent;
  box-shadow: 0 0 0 1px #1ebc30 inset, 0 0 0 0 transparent;
  border-radius: 5px;

  h3 {
    font-size: 18px;
    color: #1ebc30;
    text-align: center;
    padding: 20px;
  }
}

.AlertRed {
  position: fixed;
  z-index: 9;
  top: 70px;
  right: 0%;
  width: 400px;
  height: auto;
  background-color: #ffe8e6;
  color: #db2828;
  -webkit-box-shadow: 0 0 0 1px #db2828 inset, 0 0 0 0 transparent;
  box-shadow: 0 0 0 1px #db2828 inset, 0 0 0 0 transparent;
  border-radius: 5px;
}

.emoji-clicker {
  cursor: pointer;
}

.emoji-popup {
  z-index: 20;
  top: -81px !important;

  .emoji-picker {
    display: block;
    margin: auto;
    border: 1px solid #afafaf;
    padding: 0;
  }
}

.corpo-chat .form-holder .reply .reply-icons {
  cursor: pointer;
  position: relative;

  .hover_popup {
    position: absolute;
    opacity: 1;
    visibility: visible;
    top: -29px;
    left: 50%;
    transform: translateX(-50%);
    padding: 3px 5px;
    border-radius: 3px;
    z-index: 21;
    border: 1px solid #d4d4d5;
    background: #ffffff;

    span {
      white-space: nowrap;
      font-size: 11px;
    }
  }

  &:hover {
    .hover_popup {
      opacity: 1;
      visibility: visible;
    }
  }
}

.popup-upload {
  padding: 5px;

  .actions_popup {
    ul {
      list-style: none;
      padding: 0px;
      margin: 0px;

      input {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: 1;
        cursor: pointer;
        display: none;
      }

      li {
        margin-bottom: 5px;
        position: relative;

        input {
          position: absolute;
          width: 100%;
          height: 100%;
          opacity: 0;
          z-index: 1;
          cursor: pointer;
          display: block;
        }

        button.ui {
          margin: 0px;
          cursor: pointer;

          .icon {
          }
        }
      }
    }
  }
}

.table-list {
  .available {
    font-size: 10px;
    margin: auto;
    display: block;
    text-align: center;
  }
}

.campaign_message {
  max-width: 300px;
  max-height: 38px;
  display: block;

  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dib {
  display: inline-block;
}

#playlist {
  display: none;
}

.holder_nome {
  padding-left: 30px;
  position: relative;
  display: inline-block;
  float: left;
  margin-bottom: 3px;

  .icone_origem {
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);

    &.phone {
      transform: translateY(-50%) scaleX(-1);
    }
  }

  .nome {
    span {
    }
  }
}

.icones_status {
  display: inline-block;
  float: left;
}

.calendar {
  margin-top: 0px;

  .tabela-padrao {
    padding: 10px;
  }
}

.fc-toolbar h2 {
  &:first-letter {
    text-transform: uppercase;
  }
}

.icon-list {
  float: left;
}

.tabela-padrao .DataTableActions .ui.table thead tr th span {
  span {
    float: none;

    &:before {
      content: "↓";
      display: inline-block;
      color: #b3b2b2;
    }

    &:after {
      content: "↑";
      display: inline-block;
      color: #b3b2b2;
    }

    &.ascended {
      &:before {
        content: "↓";
        display: inline-block;
        color: #000;
      }

      &:after {
        content: "↑";
        display: inline-block;
        color: #b3b2b2;
      }
    }

    &.descended {
      &:before {
        content: "↓";
        display: inline-block;
        color: #b3b2b2;
      }

      &:after {
        content: "↑";
        display: inline-block;
        color: #000;
      }
    }
  }
}

.button_profile_picture {
  position: relative;

  input {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    cursor: pointer;
    left: 0px;
    top: 0px;
    font-size: 0px;
  }
}

.rce-mbox-time {
  display: none !important;
}

.icone-add {
  display: inline-block;
}

.upload_image {
  cursor: pointer;
  font-size: 0px;
}

.media-upload {
  .popup-control {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: -175px;
    left: -15px;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    z-index: 9;
  }

  &:hover {
    .popup-control {
      visibility: visible;
      opacity: 1;
      position: absolute;
    }
  }
}

.img_preview {
  display: block;
  margin: auto;
}

#locationField,
#controls {
  position: relative;
  width: 480px;
}

#autocomplete {
  top: 0px;
  left: 0px;
  width: 100%;
}

.label {
  text-align: right;
  font-weight: bold;
  width: 100px;
  color: #303030;
  font-family: "Roboto";
}

#address {
  border: 1px solid #000090;
  background-color: #f0f9ff;
  width: 480px;
  padding-right: 2px;
}

#address td {
  font-size: 10pt;
}

.field {
  width: 99%;
}

.slimField {
  width: 80px;
}

.wideField {
  width: 200px;
}

#locationField {
  height: 20px;
  margin-bottom: 2px;
}

.field-relative {
  position: relative;
}

td {
  .ui.label {
    width: auto;

    &.label_status {
      text-align: center;
    }
  }
}

.tabela-padrao {
  .red_whatsapp {
    display: none;
  }

  .SocialMediaTable {
    .DataTableActions .ui.table tbody .table-list td .icon-list i {
      margin-right: 0px;
    }
  }
}

.ui.form .field > .selection.dropdown.dropdown_user {
  padding: 5px;
}

.item.conectado {
  span {
    position: relative;

    &:after {
      content: "";
      position: absolute;
      width: 10px;
      height: 10px;
      background-color: #3cca65;
      border-radius: 50%;
      display: inline-block;
      margin-left: 5px;
      right: -14px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.infos-personalizados .infos-editar {
  .input {
    margin-bottom: 5px;
  }
}

.phone_icon .DataTableActions * {
  display: none;
}

.phone_icon .DataTableActions .show_phone {
  float: right;
  display: block;
}

.phone_icon .DataTableActions .show_phone .icon-list {
  width: auto;
}

.phone_icon .DataTableActions .show_phone .icon-list .celular {
  float: right;
}

.phone_icon .DataTableActions .show_phone * {
  display: block;
}

.restrictedcontact-image img {
  margin: auto;
  display: block;
}

.tabela_restritos {
  .edit.icon {
    display: none !important;
  }
}

.online .item i {
  background: #12c150;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

.CofigNav .holderPage {
  .label {
    width: auto;
  }
}

.dropdown {
  .message {
    color: #000;
    font-size: 0px !important;

    &:before {
      content: "Resultados não-encontrados, favor buscar por outro termo.";
      font-size: 14px;
    }
  }
}

.contact_name {
  min-width: 100px !important;
}

.field {
  .dropdown {
    .label {
      width: auto;
    }
  }
}

td {
  .label {
    width: auto;
  }
}

.form-group {
  .label {
    width: auto;
  }
}

.campaign_fileupload {
  .document {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    cursor: pointer;
    display: none;
  }
}

.showHeader {
  &.ativo {
    .internalChat {
      bottom: -60vh;
    }
  }

  .internalChat {
    position: fixed;
    bottom: calc(-60vh + -50px);
    right: 7px;
    background-color: #21233d;
    width: 290px;
    height: auto;
    z-index: 99;
    -webkit-box-shadow: 0px -1px 5px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px -1px 5px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px -1px 5px 1px rgba(0, 0, 0, 0.75);
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    transition: all 0.25s ease;

    &:before {
      content: "^";
      text-align: center;
      color: #ffffff;
      font-size: 18px;
      width: 145px;
      height: 10px;
      position: absolute;
      top: -10px;
      left: 0px;
      right: 0px;
      margin: auto;
      display: block;
      background-color: #21233d;
      -webkit-border-top-left-radius: 10px;
      -webkit-border-top-right-radius: 10px;
      -moz-border-radius-topleft: 10px;
      -moz-border-radius-topright: 10px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }

    &.ativo {
      bottom: 0px;
    }

    .headerChat {
      @include span(full);
      position: relative;
      padding: 10px;
      cursor: pointer;

      .avatar_user {
        width: auto;
        height: 30px;
        position: relative;
        float: left;
        text-decoration: none;
        color: #1a5abf;
        margin-right: 5px;

        &:before {
          content: "";
          width: 10px;
          height: 10px;
          background-color: $verde;
          border-radius: 50%;
          position: absolute;
          right: 0px;

          bottom: 0px;
        }

        img {
          border-radius: 50%;
          border: 1px solid #ccc;
          width: 30px;
          height: 30px;
        }
      }

      span {
        color: #fff;
        font-size: 16px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 45px;
      }

      .edit {
        color: #fff;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;

        i {
          color: #fff;
        }
      }
    }

    //headerChat
    .bodyChat {
      @include span(full);
      background-color: #fff;
      height: 60vh;

      .holderChat {
        padding: 0px;
      }

      .busca {
        .inputBusca {
          padding-bottom: 5px;

          &:focus::-webkit-input-placeholder {
            color: transparent;
          }

          &:focus:-moz-placeholder {
            color: transparent;
          }

          &:focus::-moz-placeholder {
            color: transparent;
          }

          &:focus:-ms-input-placeholder {
            color: transparent;
          }
        }
      }

      .usercard {
        width: 100%;
        float: left;
        position: relative;
        background: #ffffff;
        transition: all 0.25s ease;
        cursor: pointer;
        padding: 0px 5px;
        padding-right: 10px;

        &.pausado {
          background: #a5a5a5;

          span.pausa {
            i.em_tempo {
              color: #000;
            }
          }

          .avatar_user {
            &:before {
              background-color: #f90000 !important;
            }
          }
        }

        &:hover {
          background: #dce2e6;
        }

        .avatar_user {
          width: auto;
          height: 30px;
          position: relative;
          float: left;
          text-decoration: none;
          color: #1a5abf;
          margin: 8px 0px;
          margin-right: 5px;

          &.ativo {
            &:before {
              content: "";
              width: 10px;
              height: 10px;
              background-color: $verde;
              border-radius: 50%;
              position: absolute;
              right: -4px;

              bottom: 0px;
            }
          }

          img {
            border-radius: 50%;
            border: 1px solid #ccc;
            width: 30px;
            height: 30px;
            display: block;
          }
        }

        .holder-user {
          float: left;
          width: calc(100% - 35px);

          padding: 12px 0px;
          border-bottom: 1px solid #c3c2c2;

          span.name {
            float: left;
          }

          .pausa {
            float: right;
            margin-right: 5px;

            i {
              font-size: 18px;
            }

            .coffee {
            }

            .motivopausa {
              font-style: italic;
              display: inline-block;
            }
          }

          span.news_messages {
            float: right;
            background-color: #21233d;
            border-radius: 50%;
            padding: 3px;
            width: 19px;
            height: 19px;
            text-align: center;
            line-height: 13px;
            color: #ffffff;
            font-size: 10px;
          }
        }
      }
    }

    //bodyChat
  }
}

td {
  .contact_name {
    min-width: 0px;

    img {
      float: left;
      margin-right: 0px;
    }

    span {
      float: right;
    }
  }
}

.holderChat {
  padding: 0px 10px;
}

.App {
  @include span(full);
  min-height: 100%;
  position: relative;
}

div#root {
  float: left;
  width: 100%;
  height: 100%;
}

.rbc-month-row {
  overflow: inherit;
}

.rbc-event-content {
  font-size: 12px;
}

.instrucoes {
  text-align: center;

  p {
    text-align: center;
    font-weight: 800;
    font-size: 24px;
    margin-bottom: 5px;
  }

  ul {
    margin: auto;
    display: inline-block;
    text-align: left;

    li {
    }
  }
}

.label_height {
  label {
    min-height: 19px;
  }
}

.input {
  .label {
    width: auto;
  }
}

span.data {
  margin-right: 20px;
  clear: both;
  display: block;
  padding-left: 0px;
}

.rce-container-mbox {
  height: 200px;
}

.rce-mbox {
  height: 190px;
  overflow: hidden;
  padding: 0;
}

.rce-mbox {
  height: 190px;
  min-width: 250px;
}

.rce-mbox-photo {
  height: 190px;
}

.rce-mbox-body {
  padding: 2px;
  overflow: hidden;
}

.rce-mbox-photo--img {
  position: absolute;
  height: auto;
  width: auto;
  top: 50%;
  transform: translateY(-50%);
  max-height: none;
}

.received_image_quoted img {
  min-height: 0px;
  width: 100%;
}
.received_image img {
  min-height: 0px;
  width: 100%;
}

.monitoring .select-all {
  display: none;
}

.monitoring .adicionar-list {
  display: none;
}

.tickets-row {
  cursor: pointer;
}

.ui.modal.modal_fullscreen {
  width: 100% !important;
  height: 100vh;
  margin: 0px;

  .content {
    padding: 0px;
  }
}

div.holder_ticket_conversation {
  @include span(full);

  div.side_info_conversation_ticket {
    width: 25%;
    float: left;

    .side-info-ticket {
      width: 100%;
      height: calc(100vh - 61px);
      position: relative;
      right: auto;
      top: auto;
      border-right: 1px solid rgba(128, 130, 132, 0.25);
    }
  }

  div.conversation_body_modal {
    width: 50%;
    float: left;
  }

  div.tasks_body_modal {
    border-left: 1px solid rgba(128, 130, 132, 0.25);
    width: 25%;
    height: calc(100vh - 61px);
    float: left;
    padding: 0px 10px;

    div.comments_holder {
      height: calc(100vh - 120px);

      h2 {
        margin-top: 15px;

        .button_right {
          margin-right: 10px;
        }
      }

      .tarefa {
        position: relative;

        .holder_tarefa {
          padding-left: 40px;

          .label {
            width: auto;
          }

          h4 {
            margin-bottom: 3px;
            color: #23b7e5;
            font-weight: 300;
            font-size: 13px;
          }

          span {
            display: block;
            margin-bottom: 3px;
            font-size: 12px;
          }

          .ui {
            .clock {
            }
          }

          span.visualizar {
            margin-top: 3px;
            text-decoration: underline;
            cursor: pointer;
          }
        }
      }
    }

    div.actions {
      div.ui {
        button.ui {
          i.left {
          }
        }
      }
    }
  }
}

.modal.fullscreen {
  .close {
    z-index: 15;
  }

  .modal_chat {
    position: relative;
    z-index: 14;

    &.header {
      .logo {
        height: 45px;
        float: left;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 5px;

        img {
          width: auto;
          height: 100%;
        }

        img.beta {
          position: absolute;
          bottom: 3px;
          right: -51px;
          width: 47px;
          height: auto;
        }
      }

      p {
        text-align: center;
      }
    }

    //header
  }

  //modal_chat
}

.empty_tasks {
  font-style: italic;
  text-align: center;
}

.ui.button_blue {
  margin-bottom: 10px;
}

.ticket-ativo {
  position: absolute;
  top: 17px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9;
  background-color: #ffffff;
  padding: 5px 15px;
  border-radius: 14px;
  border: 1px solid #d6d5d5;

  p {
    text-align: center;

    span {
      font-weight: bold;
    }
  }
}

.errors-table {
  text-align: center;
  padding: 10px;
  border: 7px solid #ffffff;
  color: #ffffff;
  background-color: #f53b3b;
  position: relative;
  padding-bottom: 4px;

  .ui.button.button-close {
    background-color: #ffffff !important;
    position: absolute;
    top: -5px;
    right: -5px;
    padding: 5px;
    margin-right: 0px;

    &:hover {
      background-color: #f53b3b !important;
    }
  }

  p {
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 5px;
  }
}

span.contagem {
  float: right;
  font-weight: 400;

  b {
    color: #dc0a0a;
    margin-left: 3px;
  }
}

.user_pause {
  @include span(3 last of 12);
  float: left;

  img {
    display: block;
    margin: auto;
    border-radius: 50%;
    width: 100%;
  }

  h2 {
    margin: 0px;
    text-align: center;
  }
}

.pause_holder {
  @include span(8 last of 12);
  text-align: center;

  span.duration {
    font-size: 36px;
    transition: all 0.25s ease;
    display: block;
    position: relative;
    margin-bottom: 40px;

    i {
      font-size: 50px;
      margin-right: 81px;
      position: absolute;
      left: 10%;
      top: -10px;
    }

    img {
      display: block;
      width: 39px;
      height: auto;
      position: absolute;
      left: 12%;
      top: 70px;
    }

    h3 {
      margin-bottom: 25px;
    }
  }

  button.button_pause {
    border: 1px solid #21ba45;
    background-color: transparent;
    color: #21ba45;
    transition: all 0.25 ease;

    &:hover {
      background-color: #21ba45;
      color: #fff;
    }
  }

  span.duration_motive {
    font-size: 22px;
    display: block;
  }

  .ui.dropdown.dropdown_interruption {
    margin: auto;
    display: block;
    width: 80%;
    margin-bottom: 10px;
    border-color: rgba(0, 0, 0, 0);
    font-weight: bold;
  }

  .ui.default.dropdown:not(.button) > .text,
  .ui.dropdown:not(.button) > .default.text {
    color: #000;
  }

  .interruption-title {
    width: 100%;
    float: left;
    text-align: center;
  }

  .tempo_de_pausa {
    width: 80%;
    max-width: 250px;
    height: 250px;
    display: block;
    margin: auto;
    overflow: hidden;
    text-align: center;
    background-color: #0c44d2;
    color: #ffffff;
    font-size: 24px;
    padding: 35px 5px;
    border-radius: 50%;
    margin-bottom: 5px;
    position: relative;
    cursor: pointer;
    transition: all 0.25s ease;

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
      font-size: 36px;
      transition: all 0.25s ease;
    }

    .player_pause {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
      transition: all 0.25s ease;
    }

    &:hover {
      .player_pause {
        opacity: 1;
        visibility: visible;
      }

      span {
        opacity: 0;
        visibility: hidden;
      }
    }

    &.vermelho {
      background-color: #d20c10;
    }
  }
}

.status_select {
  nav {
    ul {
      @include span(full);
      list-style: none;
      padding-left: 0px;

      li {
        @include span(1 of 12);
        margin-bottom: 10px;

        &:nth-child(12n) {
          margin-right: 0px;
        }

        .ui {
          margin: auto;
          display: block;

          &.ativo {
            background: #2ec524;

            i {
              color: #fff;
            }
          }

          .shield {
          }
        }
      }
    }
  }
}

.comment {
  .mail.forward {
    position: absolute;
    left: -85px;
    bottom: 20px;
    z-index: 7;
    margin-left: 42px;
  }

  .origem_comment {
    bottom: 2px;

    .origem {
      img {
      }
    }
  }
}

.progresso_holder {
  width: 92%;
  float: right;

  .ui.progress_body {
    margin-bottom: 5px;
  }

  span.progresso_desc {
    text-align: center;
    display: block;
  }
}

.add_fast_message {
  cursor: pointer;
  position: relative;
  top: 50%;
  color: #7d7d7d !important;
  transform: translateY(-35%);
}

ul {
  list-style: none;
  padding-left: 0;

  &.show_variables {
    li {
      @include span(4 of 12);

      &:nth-child(3n) {
        margin-right: 0px;
      }
    }
  }
}

.nowrap {
  white-space: nowrap;
}

span.all_companies {
  float: right;
  margin-top: 8px;
}

span.db {
  display: block;
}

.holder {
  span.pausa {
    i.em_tempo {
      color: $verde;
    }

    i.atrasado {
      color: $vermelho;
    }
  }
}

.motivopausa {
  font-style: italic;

  text-align: center;
}

.holder_card_not_click {
  position: relative;
}

form {
  .field {
    .input.number_br {
      position: relative;

      &:before {
        content: "+55";
        position: absolute;
        top: 53%;
        left: 10px;
        transform: translateY(-50%);
        color: #929292;
      }

      input {
        padding-left: 36px;
      }
    }
  }
}

.user_avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: block;
  float: right;
  position: absolute;
  right: 5%;

  top: 50%;
  transform: translateY(-50%);
}

.holder_choices {
  width: 85%;
  display: block;

  float: left;
  border-right: 1px solid #9e9e9e;
  padding-right: 30px;
}

.input-range__label-container {
  display: block;
}

.input-range {
  margin-top: 25px;
}

.upload_box {
  .dropzone {
    align-items: center;
    padding: 30px;
    border-width: 2px;
    border-radius: 2px;
    border-color: #eeeeee;
    border-style: dashed;
    background-color: #fafafa;
    color: #bdbdbd;
    outline: none;
    transition: all 0.24s ease-in-out;
    margin-bottom: 10px;

    &:hover {
      font-weight: bold;
      border: 2px solid $verde;
    }
  }

  p {
    text-align: center;
    font-size: 16px;
    color: #000;
  }

  h4 {
    text-align: center;
  }

  ul {
    li {
      text-align: center;
    }
  }
}

.fr {
  float: right;
}

.trash {
  &.fr {
    cursor: pointer;
  }
}

.replies_triggers {
  margin-bottom: 15px;

  div {
    border-bottom: 1px solid #a9a9a9;
    margin-bottom: 3px;
    padding: 3px;

    &:last-child {
      border-bottom: 0px;
    }
  }
}

.intent_triggers {
  margin-bottom: 15px;

  div {
    border-bottom: 1px solid #a9a9a9;
    margin-bottom: 3px;
    padding: 3px;

    &:last-child {
      border-bottom: 0px;
    }
  }
}

.animate_closed {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 9;
  text-align: center;
  opacity: 0;

  transform: translateY(-100%);
  visibility: hidden;
  transition: all 0.35s ease;

  &.slide-up {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
  }

  span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    font-size: 18px;
    width: 100%;

    i {
      display: block;
      margin: auto;
    }
  }
}

.card-conversa {
  &.true {
    max-height: 0px;
    min-height: 0px;
    overflow: hidden;

    .animate_closed {
    }
  }
}

@keyframes slide-up {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slide-up-card {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  80% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}

.selectDrop {
  margin-bottom: 10px;
}

.hide {
  display: none;
}

span.green {
  color: #21ba45;
}

span.red {
  color: #ca1010;
}

.addToGroup {
  .ui.loader {
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
  }
}

.schedule {
  Icon {
    font-size: 22px;
  }
}

.comments {
  height: 299px;

  div {
    .comentario {
      font-size: 15px;
      margin: 10px 0px;
      clear: both;
      width: 100%;
      border-bottom: 1px solid hsla(0, 0%, 0%, 0.16);

      .data {
        b {
        }
      }
    }
  }
}

.input-profile {
  width: 15.37em;
  margin: 0;
  padding: 0;

  input {
    width: 170px;
    margin: 0;
    padding: 0;
  }

  button {
    margin: 0;
    padding: 0;
  }
}

.captalize_span {
  text-transform: capitalize;
}

.scroll_to_bottom {
  position: absolute;
  bottom: 177px;
  z-index: 99;
  right: 17px;
  opacity: 0.7;
  transition: all 0.25s ease;

  &:hover {
    opacity: 1;
  }
}

.card-task-animation_open {
  animation: conectedFrame 1s linear;
}

.card-task-animation_close {
  animation: closeFrame 1s linear;
}

.task_event-card {
  position: fixed;
  top: 60px;
  right: 10px;
  z-index: 200;
  width: 350px;

  .header {
    padding: 5px;
    text-align: center;
  }
}

.task_event-card__closed {
  position: fixed;
  top: 60px;
  right: 10px;
  z-index: 200;
  width: 350px;

  .header {
    padding: 5px;
    text-align: center;
  }
}

.conection-card--color {
  position: fixed;
  top: 2px;
  right: 2px;
  z-index: 200;

  div {
    animation: conectedFrame 1s linear;
    color: white;
    background-color: #db2828;
  }

  div:nth-child(2) {
    margin-top: -9px;
    padding-bottom: 17px;
  }
}

.Close-Conection {
  position: fixed;
  top: 2px;
  right: 2px;
  z-index: 200;

  div {
    animation: closeFrame 1s linear;
    color: white;
    background-color: #db2828;
  }

  div:nth-child(2) {
    margin-top: -9px;
    padding-bottom: 17px;
  }
}

@keyframes closeFrame {
  0% {
    opacity: 1;
  }

  30% {
    opacity: 0.6;
  }

  60% {
    opacity: 0.3;
  }

  100% {
    opacity: 0;
  }
}

@keyframes conectedFrame {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 0.3;
  }

  60% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}

.holder_windows {
  .chat_window {
    width: 796px;
    position: absolute;
    right: 100%;
    bottom: 0px;

    .window {
      margin-right: 15px;
      width: 250px;
      background: #ffffff;
      float: right;
      position: relative;
      -webkit-box-shadow: 0px -2px 4px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px -2px 4px 0px rgba(0, 0, 0, 0.75);
      box-shadow: 0px -2px 4px 0px rgba(0, 0, 0, 0.75);
      bottom: -365px;
      transition: all 0.25s ease;

      &.active {
        bottom: 0px;
      }

      .header_chat_window {
        background: #21233d;
        height: auto;
        overflow: hidden;
        padding: 7px 5px;
        cursor: pointer;

        img {
          width: 25px;
          height: 25px;
          float: left;
          overflow: hidden;
          margin-right: 5px;
          border-radius: 50%;
        }

        .user_name {
          color: #fff;
        }

        .close {
          color: #fff;
          position: absolute;
          left: -8px;
          top: -8px;
          background-color: #21233d;
          width: 18px;
          height: 18px;
          border-radius: 50%;
          border: 1px solid #ffffff;
          font-size: 11px;
          cursor: pointer;
        }
      }

      .message-body {
        height: 296px;
        padding: 3px;
        opacity: 1;

        &.opacity {
          opacity: 0;
          transition: all 0.25s ease;
        }

        .messages {
          .message {
            border-radius: 5px;
            float: right;
            max-width: 60%;
            padding: 10px;
            min-width: 50%;
            padding-bottom: 15px;
            margin-bottom: 5px;
            clear: both;

            &.sended {
              background-color: #e8f3fd;
              position: relative;
              padding-right: 15px;
              margin-right: 10px;
              border-radius: 5px;
              float: right;
              max-width: 60%;
              padding: 10px;
              min-width: 100px;
              padding-bottom: 15px;
            }

            &.received {
              background-color: #f0f2f5;
              float: left;
              position: relative;
              padding-left: 15px;
              margin-left: 10px;
            }
          }
        }
      }

      .input_box {
        border: 1px solid rgba(0, 0, 0, 0.49);
        padding: 5px;
        position: relative;

        textarea {
          width: 100%;
          margin: 0px;
          border: 0px;
        }

        .send_message {
          position: absolute;
          right: 0px;
          bottom: 9px;
        }
      }
    }
  }
}

a.button_anchor {
  .button_right {
    color: #fff;
  }
}

span.noTickets {
  text-align: center;
  display: block;
  font-size: 17px;
  color: #a1b3b5;
  font-weight: bold;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%);
}

.carteira {
  position: absolute;
  bottom: 13px;
  left: 3.5%;
  vertical-align: middle;

  span {
    font-size: 9px;
    vertical-align: middle;
    display: inline-block;
  }
}

.card-conversa {
  &:hover {
    .atendente {
      opacity: 0;
      visibility: hidden;
    }
  }

  .atendente {
    position: absolute;
    right: 8px;
    top: 50%;
    width: 50px;
    transform: translateY(-50%);
    z-index: 9;
    transition: all 0.25s ease;
    opacity: 1;
    visibility: visible;

    img {
      width: 25px;
      height: 25px;
      display: block;
      margin: auto;
      border-radius: 50%;
      overflow: hidden;
    }

    span {
      text-align: center;
      font-style: italic;
      font-size: 10px;
      display: block;
      margin: auto;
    }
  }
}

.intent_triggers {
  &.intents_holder {
    height: 600px;
    overflow: hidden;
  }

  i {
    float: right;
    cursor: pointer;
  }

  .triggerModal {
    float: right;
    border: 0px;
    margin: 0px;
    padding: 0px;
    overflow: visible;

    i {
      margin: 0px;
    }
  }

  div {
    display: block;
    overflow: hidden;

    b {
      max-width: 85%;
      float: left;
      margin: 5px 0px;

      i {
        float: left;
      }
    }
  }

  span {
    display: block;
    float: left;
    clear: both;
    margin-bottom: 10px;

    i {
      float: left;
    }
  }
}

.ui.modal > .header {
  overflow: hidden;
  word-break: break-all;
  white-space: normal;
}

.holder_permission {
  .ui.card.fluid.card_permission {
    @include span(3 of 12);
    margin-top: 15px;

    &:nth-child(4n) {
      margin-right: 0px;
    }

    .checkbox {
      display: block;
      margin-bottom: 4px;
    }
  }
}

p.invisible {
  font-size: 0px;
}

input.invisible {
  height: 0px;
  width: 0px;
  overflow: hidden;
}

.field {
  &.input-error {
    .dropdown {
      background: rgba(255, 0, 0, 0.15) !important;
    }

    input {
      background: rgba(255, 0, 0, 0.15) !important;
    }

    textarea {
      background: rgba(255, 0, 0, 0.15) !important;
    }
  }
}

.ui.form {
  .field-row {
    textarea {
      &.input-error {
        background: rgba(255, 0, 0, 0.15) !important;
      }
    }
  }
}

.div-audio {
  audio {
    display: block;
  }
}

.ui.form {
  .field.input-client {
    width: 33%;
    clear: none;
    float: left;
  }
}
